*.breakpoint
*.data
*.dSYM/
*.o
*.out
*.pyc
*.session.yaml
*.so
*.swn
*.swo
*.swp
*~
.DS_Store
.gdb_history
.idea
.ycm_extra_conf.pyc
.temp/
Testing/
/build*/
release/examples/build
cmake-build-*
cmake/DownloadProject/
dist/
src/query/frontend/opencypher/generated/
tags
ve/
ve3/
perf.data*
TAGS
*.apollo_measurements

# Lisp compiled object code
*.fas
*.fasl

src/database/distributed/serialization.hpp
src/database/single_node_ha/serialization.hpp
src/distributed/bfs_rpc_messages.hpp
src/distributed/coordination_rpc_messages.hpp
src/distributed/data_rpc_messages.hpp
src/distributed/durability_rpc_messages.hpp
src/distributed/dynamic_worker_rpc_messages.hpp
src/distributed/index_rpc_messages.hpp
src/distributed/plan_rpc_messages.hpp
src/distributed/pull_produce_rpc_messages.hpp
src/distributed/storage_gc_rpc_messages.hpp
src/distributed/token_sharing_rpc_messages.hpp
src/distributed/updates_rpc_messages.hpp
src/durability/distributed/state_delta.hpp
src/durability/single_node/state_delta.hpp
src/durability/single_node_ha/state_delta.hpp
src/query/distributed/frontend/semantic/symbol_serialization.hpp
src/query/distributed/plan/ops.hpp
src/raft/log_entry.hpp
src/raft/raft_rpc_messages.hpp
src/raft/snapshot_metadata.hpp
src/raft/storage_info_rpc_messages.hpp
src/stats/stats_rpc_messages.hpp
src/storage/distributed/rpc/concurrent_id_mapper_rpc_messages.hpp
src/transactions/distributed/engine_rpc_messages.hpp
/tests/manual/js/transaction_timeout/package-lock.json
/tests/manual/js/transaction_timeout/node_modules/
