*.breakpoint
*.data
*.dSYM/
*.o
*.out
*.pyc
*.session.yaml
*.so
*.swo
*.swp
*~
.DS_Store
.gdb_history
.idea
.ycm_extra_conf.pyc
.temp/
Testing/
build
build/
cmake-build-*
cmake/DownloadProject/
dist/
memgraph
release/barrier/
release/barrier_*
release/config/
release/libs/
release/memgraph_*
release/websockify/
release/neo4j-browser/
release/bundle-report.html
src/query/frontend/opencypher/generated/
tags
ve/
ve3/
perf.data*
TAGS
