.DS_Store
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*.swp
*.swo
*.out
*.so
*.dSYM/
memgraph
*~
*.pyc
*.breakpoint
*.session.yaml
tags
.gdb_history
Testing/
ve/
ve3/
release/memgraph_*
release/libs/
release/barrier/
release/barrier_*

