# csharp driver
csharp/**/*.dll
csharp/**/*.exe
csharp/**/driver.*
csharp/**/bin
csharp/**/obj
csharp/**/build

# java driver
java/**/*.class
java/**/*.jar

# javascript driver
javascript/**/node_modules
javascript/**/package-lock.json

# python driver
python/ve3
