# csharp driver
csharp/**/*.dll
csharp/**/*.exe
csharp/**/driver.*
csharp/**/bin
csharp/**/obj
csharp/**/build

# java driver
java/**/*.class
java/**/*.jar

# javascript driver
javascript/websockify-js/

# node driver
node/**/node_modules
node/**/package-lock.json

# python driver
python/ve3
