--extra-index-url https://download.pytorch.org/whl/cu130
boto3==1.36.23
defusedxml==0.7.1
duckdb==1.2.1
elasticsearch==8.17.0
filelock==3.19.1
gekko==1.2.1
gensim==4.3.3
gqlalchemy==1.8.0
huggingface-hub==0.35.1
igraph==0.11.8
mysql-connector-python==9.1.0
neo4j==5.28.2
networkx==2.8.8
oracledb==2.5.1
pandas==2.2.3
platformdirs==4.3.6
pyarrow==19.0.1
psycopg2-binary==2.9.10
pyodbc==5.2.0
python-Levenshtein==0.26.1
scikit-learn==1.5.2
scipy==1.13.1
sentence-transformers==5.1.1
setuptools==81.0.0  # maximum version that can be used until torchmetrics doesn't rely on pkg_resources any more
six==1.17.0
torch==2.9.0
torchmetrics==0.10.0
