Cython==0.23.4
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.4
decorator==4.0.9
gevent==1.1rc5
greenlet==0.4.9
ipython==4.1.1
ipython-genutils==0.1.0
itsdangerous==0.24
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
requests==2.9.1
simplegeneric==0.8.1
traitlets==4.1.0
uWSGI==2.0.12
