
body {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  background-color: #eee;
}

.w100 {
    width: 100%;
}

.title {
  width: 90%;
  color: #007FFF;
}

.CodeMirror {
  border-top: 1px solid #eee;
  height: auto;
}

svg, text {
  font-size: 28;
}

.btn {
    background-color: #007FFF;
}

.btn:hover {
    background-color: #007FFF;
}

.btn:focus {
    background-color: #007FFF;
}
