data_dir: /tmp/vector-data

sources:
  memgraph_logs:
    type: file
    include:
      - ${MEMGRAPH_LOG_GLOB}
    read_from: end

transforms:
  enrich:
    type: remap
    inputs: [memgraph_logs]
    source: |
      .app = "memgraph"
      .job = "memgraph"
      .role = "standalone"
      .namespace = "docker-compose"
      .pod = "native-memgraph"
      .cluster_id = "${CLUSTER_ID}"
      .cluster_env = "${CLUSTER_ENV}"

sinks:
  victorialogs:
    type: loki
    inputs: [enrich]
    endpoint: "${VLOGS_INSERT_ENDPOINT}"
    encoding:
      codec: text
    labels:
      app: "{{ app }}"
      job: "{{ job }}"
      role: "{{ role }}"
      namespace: "{{ namespace }}"
      pod: "{{ pod }}"
      cluster_id: "{{ cluster_id }}"
      cluster_env: "{{ cluster_env }}"
    remove_label_fields: true
