apiVersion: v1
kind: Service
metadata:
  name: ${SVC_NAME}
  labels:
    app.kubernetes.io/name: memgraph-monitoring
spec:
  type: LoadBalancer
  selector:
    statefulset.kubernetes.io/pod-name: ${POD_NAME}
  ports:
    - name: metrics
      protocol: TCP
      port: ${MONITORING_METRICS_PORT}
      targetPort: ${MONITORING_METRICS_PORT}
    - name: websocket
      protocol: TCP
      port: ${MONITORING_WS_PORT}
      targetPort: ${MONITORING_WS_PORT}
