name: Build Conan Dependency

on:
  workflow_dispatch:
    inputs:
      dependency:
        type: string
        description: "The dependency to build."
        required: true
        default: all
      os:
        type: choice
        description: "The OS to build the dependency for."
        default: ubuntu-24.04
        options:
          - all
          - centos-9
          - centos-10
          - debian-12
          - debian-12-arm
          - debian-13
          - debian-13-arm
          - fedora-42
          - fedora-42-arm
          - rocky-10
          - ubuntu-22.04
          - ubuntu-24.04
          - ubuntu-24.04-arm
      build_type:
        type: choice
        description: "The build type to build the dependency for."
        required: true
        default: Release
        options:
          - Release
          - RelWithDebInfo
          - Debug
      additional_build_args:
        type: string
        description: "Additional build arguments to pass to the build command."
        default: ''
      upload:
        type: boolean
        description: "Upload the dependency to the Conan remote."
        default: true

jobs:
  build_single_os:
    if: ${{ inputs.os != 'all' }}
    name: "Build Dependency: ${{ inputs.dependency }} for ${{ inputs.os }}"
    uses: ./.github/workflows/reusable_build_conan_dependency.yml
    with:
      dependency: ${{ inputs.dependency }}
      os: ${{ inputs.os }}
      build_type: ${{ inputs.build_type }}
      additional_build_args: ${{ inputs.additional_build_args }}
      upload: ${{ inputs.upload }}
    secrets: inherit

  build_all_os:
    if: ${{ inputs.os == 'all' }}
    name: "Build Dependency: ${{ inputs.dependency }} for all Distributions"
    strategy:
      matrix:
        os: [centos-9, centos-10, debian-12 , debian-12-arm, debian-13, debian-13-arm, fedora-42, fedora-42-arm, rocky-10, ubuntu-22.04, ubuntu-24.04, ubuntu-24.04-arm]
        build_type: [Release]
        additional_build_args: ['']
        include:
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: Debug
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: Debug
            additional_build_args: '--coverage --asan --ubsan'
    uses: ./.github/workflows/reusable_build_conan_dependency.yml
    with:
      dependency: ${{ inputs.dependency }}
      os: ${{ matrix.os }}
      build_type: ${{ matrix.build_type }}
      additional_build_args: ${{ matrix.additional_build_args }}
      upload: ${{ inputs.upload }}
    secrets: inherit
