name: Build Release Candidate
concurrency:
  group: Build-Release-Candidate-${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: "Version of the release candidate (X.Y.Z)."
        required: true
      rc_number:
        type: string
        description: "Release candidate number (e.g., rc1, rc2, etc.)."
        required: true
      overwrite_tag:
        type: boolean
        description: "Overwrite the existing tag if it exists."
        default: false
      run_tests:
        type: boolean
        description: "Run tests."
        default: true
      run_stress_large:
        type: boolean
        description: "Run stress test large."
        default: true
      package_memgraph:
        type: boolean
        description: "Build Memgraph packages."
        default: true
      build_docker:
        type: boolean
        description: "Build Memgraph Docker images."
        default: true
      run_issu_test:
        type: boolean
        description: "Run ISSU test."
        default: true
      build_mage:
        type: boolean
        description: "Build MAGE."
        default: true
      mock:
        type: boolean
        description: "Build mock RC."
        default: false

jobs:
  PrepareReleaseBranch:
    name: Prepare Release Branch
    runs-on: ubuntu-24.04
    outputs:
      branch_name: ${{ steps.check_branch.outputs.branch_name }}
      tag_name: ${{ steps.check_tag.outputs.tag_name }}
      short_version: ${{ steps.create_short_version.outputs.short_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Git user
        run: |
          git config user.name github-actions
          git config user.email actions@github.com

      - name: Create Short Version
        id: create_short_version
        run: |
          short_version=$(echo "${{ inputs.version }}" | sed -E 's/^([0-9]+\.[0-9]+)\.0$/\1/')
          echo "short_version=$short_version" >> $GITHUB_OUTPUT

      - name: Check if release branch exists and checkout
        id: check_branch
        run: |
          branch_name="release/${{ steps.create_short_version.outputs.short_version }}"
          if git ls-remote --exit-code --heads origin "$branch_name"; then
            echo "Branch $branch_name exists. Checking out."
            git checkout "$branch_name"
          else
            echo "Branch $branch_name does not exist. Creating a new branch."
            git checkout -b "$branch_name"
          fi
          echo "branch_name=$branch_name" >> $GITHUB_OUTPUT

      - name: Set Memgraph Override Version
        run: |
          sed -i "s/set(MEMGRAPH_OVERRIDE_VERSION \"\")/set(MEMGRAPH_OVERRIDE_VERSION \"${{ inputs.version }}\")/" CMakeLists.txt
          git add CMakeLists.txt
          # this will fail if there are no changes, but we don't care
          git commit -m "Update CMakeLists.txt with new memgraph override version" || true

      - name: Check if tag exists
        id: check_tag
        run: |
          tag_name="v${{ inputs.version }}-${{ inputs.rc_number }}"
          if git ls-remote --exit-code --tags origin "$tag_name"; then
            echo "Tag $tag_name exists."
            if [ "${{ inputs.overwrite_tag }}" == "true" ]; then
              echo "Overwriting existing tag."
              git tag -d "$tag_name"
              git push origin ":refs/tags/$tag_name"
            else
              echo "Skipping tag creation as it already exists."
              exit 1
            fi
          else
            echo "Tag $tag_name does not exist. Proceeding to create a new tag."
          fi
          echo "tag_name=$tag_name" >> $GITHUB_OUTPUT

      - name: Create and push tag
        run: |
          git push --set-upstream origin "${{ steps.check_branch.outputs.branch_name }}"
          git tag "${{ steps.check_tag.outputs.tag_name }}"
          git push origin "${{ steps.check_tag.outputs.tag_name }}"

  TestRC:
    if: ${{ inputs.run_tests }}
    name: Test Release Candidate
    needs: PrepareReleaseBranch
    uses: ./.github/workflows/reusable_release_tests.yaml
    with:
      os: ubuntu-24.04
      arch: amd
      threads: 24
      build_type: Release
      ref: ${{ needs.PrepareReleaseBranch.outputs.tag_name }}
    secrets: inherit

  StressTestLarge:
    if: ${{ inputs.run_stress_large }}
    name: Stress Test Large
    needs: PrepareReleaseBranch
    uses: ./.github/workflows/reusable_release_tests.yaml
    with:
      os: ubuntu-24.04
      arch: "amd"
      threads: 24
      build_type: Release
      run_stress_large: 'true'
      run_release_tests: 'false'
      ref: ${{ needs.PrepareReleaseBranch.outputs.tag_name }}
    secrets: inherit

  PackageArtifact:
    if: ${{ inputs.package_memgraph }}
    name: Package Artifact
    needs: PrepareReleaseBranch
    strategy:
      fail-fast: false
      matrix:
        os: [centos-9, centos-10, debian-12, debian-13, fedora-42, rocky-10, ubuntu-22.04, ubuntu-24.04]
        arch: [amd]
        build_type: [Release]
        additional_build_args: ['']
        include: # Add arm builds and RelwithDebInfo builds
          - os: debian-12
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: debian-13
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: fedora-42
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: Release
            arch: amd
            additional_build_args: '--disable-jemalloc'
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: arm
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: amd
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: amd
            additional_build_args: '--disable-jemalloc'
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: arm
            additional_build_args: '--disable-jemalloc'
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      build_type: ${{ matrix.build_type }}
      push_to_github: 'false'
      push_to_s3: 'true'
      s3_bucket: deps.memgraph.io
      s3_region: eu-west-1
      s3_dest_dir: "memgraph${{ inputs.mock && '-mock-rc' || '' }}/${{ needs.PrepareReleaseBranch.outputs.tag_name }}"
      additional_build_args: ${{ matrix.additional_build_args }}
      ref: ${{ needs.PrepareReleaseBranch.outputs.tag_name }}
    secrets: inherit

  DockerArtifact:
    if: ${{ inputs.build_docker }}
    name: Docker Artifact
    needs: PrepareReleaseBranch
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        arch: [amd, arm]
        build_type: [Release, RelWithDebInfo]
        malloc: [false]
        include:
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: amd
            malloc: true
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: arm
            malloc: true
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      build_type: ${{ matrix.build_type }}
      additional_build_args: "--for-docker${{ matrix.malloc == true && ' --disable-jemalloc' || '' }}"
      push_to_github: 'false'
      push_to_s3: 'true'
      s3_bucket: deps.memgraph.io
      s3_region: eu-west-1
      s3_dest_dir: "memgraph${{ inputs.mock && '-mock-rc' || '' }}/${{ needs.PrepareReleaseBranch.outputs.tag_name }}"
      ref: ${{ needs.PrepareReleaseBranch.outputs.tag_name }}
      generate_sbom: ${{ (matrix.os == 'ubuntu-24.04' && matrix.build_type == 'Release' && matrix.arch == 'amd') && true || false }}
    secrets: inherit

  BuildAndTestMAGE:
    if: ${{ inputs.build_mage }}
    name: Build and Test MAGE
    needs: [PrepareReleaseBranch]
    uses: ./.github/workflows/reusable_package_mage.yaml
    strategy:
      fail-fast: false
      matrix:
        build_type: ["Release", "RelWithDebInfo"]
        build_arch: ["amd", "arm"]
        malloc: [false]
        cuda: [false]
        include:
          - build_type: "Release"
            build_arch: "amd"
            malloc: true
            cuda: false
          - build_type: "RelWithDebInfo"
            build_arch: "amd"
            cuda: true
            malloc: false
          - build_type: "RelWithDebInfo"
            build_arch: "amd"
            cuda: false
            malloc: true
          - build_type: "RelWithDebInfo"
            build_arch: "arm"
            cuda: false
            malloc: true
    with:
      arch: ${{ matrix.build_arch }}
      build_type: ${{ matrix.build_type }}
      s3_dest_dir: "mage${{ inputs.mock && '-mock-rc' || '' }}/${{ needs.PrepareReleaseBranch.outputs.tag_name }}"
      shorten_tag: true
      cuda: ${{ matrix.cuda }}
      push_to_s3: true
      malloc: ${{ matrix.malloc }}
      run_smoke_tests: true
      run_tests: true
      package_deb: true
      generate_sbom: ${{ matrix.build_arch == 'amd' && matrix.build_type == 'Release' && !matrix.malloc && !matrix.cuda }}
      ref: ${{ needs.PrepareReleaseBranch.outputs.tag_name }}
      version: ${{ inputs.version }}
    secrets: inherit

  SetupISSUTestInputs:
    if: ${{ inputs.run_issu_test }}
    name: Setup ISSU Test Inputs
    needs: [PrepareReleaseBranch, PackageArtifact]
    runs-on: ubuntu-24.04
    outputs:
      amd_image_url: ${{ steps.set_image_urls.outputs.amd_image_url }}
      arm_image_url: ${{ steps.set_image_urls.outputs.arm_image_url }}
      last_image_version: ${{ steps.set_last_image_version.outputs.last_image_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ needs.PrepareReleaseBranch.outputs.tag_name }}

      - name: Set Image URLs
        id: set_image_urls
        env:
          MOCK: "${{ inputs.mock }}"
          VERSION: "${{ inputs.version }}"
        run: |
          echo "Setting next image URLs"
          amd_image_url="https://s3.eu-west-1.amazonaws.com/deps.memgraph.io/memgraph${{ env.MOCK == 'true' && '-mock-rc' || '' }}/${{ needs.PrepareReleaseBranch.outputs.tag_name }}/docker/memgraph-${VERSION}-docker.tar.gz"
          arm_image_url="https://s3.eu-west-1.amazonaws.com/deps.memgraph.io/memgraph${{ env.MOCK == 'true' && '-mock-rc' || '' }}/${{ needs.PrepareReleaseBranch.outputs.tag_name }}/docker-aarch64/memgraph-${VERSION}-docker.tar.gz"
          echo "amd_image_url=$amd_image_url" >> $GITHUB_OUTPUT
          echo "arm_image_url=$arm_image_url" >> $GITHUB_OUTPUT
          echo "AMD Image URL: $amd_image_url"
          echo "ARM Image URL: $arm_image_url"

      - name: Set last image version
        id: set_last_image_version
        run: |
          echo "Setting last image version"
          last_image_version=$(./tools/ci/get_latest_tag.sh)
          echo "last_image_version=$last_image_version" >> $GITHUB_OUTPUT

  RunISSUTest:
    if: ${{ inputs.run_issu_test }}
    name: Run ISSU Tests
    needs: [SetupISSUTestInputs]
    uses: ./.github/workflows/reusable_issu_test.yaml
    strategy:
      matrix:
        include:
          - arch: amd
            next_image: ${{ needs.SetupISSUTestInputs.outputs.amd_image_url }}
          - arch: arm
            next_image: ${{ needs.SetupISSUTestInputs.outputs.arm_image_url }}
    with:
      last_image: ${{ needs.SetupISSUTestInputs.outputs.last_image_version }}
      next_image: ${{ matrix.next_image }}
      arch: ${{ matrix.arch }}
    secrets: inherit
