
name: Daily build and test
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 22 * * *" #UTC
  workflow_dispatch:
    inputs:
      trigger_mage:
        type: boolean
        description: "Trigger MAGE build"
        default: true
      build_date:
        type: string
        description: "Specify build date (YYYYMMDD)"
        required: false
      skip_tests:
        type: boolean
        description: "Skip tests"
        default: false
      skip_package:
        type: boolean
        description: "Skip packaging"
        default: false
      skip_issu_tests:
        type: boolean
        description: "Skip ISSU tests"
        default: false
      mock:
        type: boolean
        description: "Mock build"
        default: true
jobs:
  # this job is used to get the current date at the time when the job is first triggered
  # so that the daily build is sent to the right folder!
  # (we may cross over midnight during build/test)
  CurrentDateJob:
    runs-on: [ubuntu-latest]
    outputs:
      current_date: ${{ steps.set_date.outputs.current_date }}
    steps:
      - name: Get current date
        id: set_date
        run: |
          if [[ ${{ github.event_name }} == 'workflow_dispatch' && -n "${{ github.event.inputs.build_date }}" ]]; then
            current_date="${{ github.event.inputs.build_date }}"
          else
            current_date=$(date -u +'%Y%m%d')
          fi
          echo "Current date is: $current_date"
          echo "current_date=$current_date" >> $GITHUB_OUTPUT

  TestBuild:
    if: ${{ github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && !inputs.skip_tests) }}
    uses: ./.github/workflows/reusable_release_tests.yaml
    with:
      os: 'ubuntu-24.04'
      arch: amd
      threads: 24
      build_type: 'Release'
      run_release_tests: 'true'
      run_stress_large: 'true'
    secrets: inherit


  DailyPackageArtifact:
    if: ${{ (github.event_name == 'schedule' && always()) || (github.event_name == 'workflow_dispatch' && !inputs.skip_package)  }}
    needs: [CurrentDateJob]
    strategy:
      fail-fast: false
      matrix:
        os: [centos-9, centos-10, debian-12, debian-13, fedora-42, rocky-10, ubuntu-22.04, ubuntu-24.04]
        arch: [amd]
        build_type: [Release]
        additional_build_args: ['']
        include: # Additional matrix entries for arm builds and RelWithDebInfo
          - os: debian-12
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: debian-13
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: fedora-42
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: Release
            arch: amd
            additional_build_args: '--disable-jemalloc'
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: arm
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: amd
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: amd
            additional_build_args: '--disable-jemalloc'
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: arm
            additional_build_args: '--disable-jemalloc'
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      build_type: ${{ matrix.build_type }}
      push_to_github: 'false'
      push_to_s3: 'true'
      s3_bucket: deps.memgraph.io
      s3_region: eu-west-1
      s3_dest_dir: "daily-build/memgraph${{ inputs.mock && '_mock' || '' }}/${{ needs.CurrentDateJob.outputs.current_date }}"
      additional_build_args: ${{ matrix.additional_build_args }}
    secrets: inherit

  DailyDockerArtifact:
    if: ${{ (github.event_name == 'schedule' && always()) || (github.event_name == 'workflow_dispatch' && !inputs.skip_package)  }}
    needs: [CurrentDateJob]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        arch: [amd, arm]
        build_type: [Release, RelWithDebInfo]
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      build_type: ${{ matrix.build_type }}
      additional_build_args: '--for-docker'
      push_to_github: 'false'
      push_to_s3: 'true'
      s3_bucket: deps.memgraph.io
      s3_region: eu-west-1
      s3_dest_dir: "daily-build/memgraph${{ inputs.mock && '_mock' || '' }}/${{ needs.CurrentDateJob.outputs.current_date }}"
      generate_sbom: ${{ (matrix.os == 'ubuntu-24.04' && matrix.build_type == 'Release' && matrix.arch == 'amd') && true || false }}
    secrets: inherit

  AggregateBuildTests:
    if: ${{ (github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && !inputs.skip_tests && !inputs.mock)) && always() }}
    needs: [CurrentDateJob,TestBuild,DailyPackageArtifact,DailyDockerArtifact]
    runs-on: [self-hosted]
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.S3_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.S3_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Aggregate Test Results and Builds
        env:
          TEST_INDIVIDUAL_RESULT: ${{ needs.TestBuild.outputs.test_status }}
          CURRENT_BUILD_DATE: ${{ needs.CurrentDateJob.outputs.current_date }}
        run: |
          echo "TEST_INDIVIDUAL_RESULT: $TEST_INDIVIDUAL_RESULT"
          echo "Package Date: $CURRENT_BUILD_DATE"
          echo "BUILD_TEST_RESULTS=$(python3 tools/aggregate_build_tests.py)" >> $GITHUB_ENV

      - name: Trigger Daily Builds Page Update
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_PAT }}
        run: |
          payload="${BUILD_TEST_RESULTS}"
          echo "Payload: $payload"
          # Send the dispatch request
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token $GITHUB_TOKEN" \
            https://api.github.com/repos/memgraph/daily-builds/dispatches \
            -d "$payload"

  TriggerMageDailyBuild:
    if: ${{ github.event_name == 'schedule' && always() }}
    needs: [CurrentDateJob,DailyPackageArtifact]
    runs-on: [self-hosted]
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build Request Payload
        env:
          CURRENT_BUILD_DATE: ${{ needs.CurrentDateJob.outputs.current_date }}
        run: |
          echo "MAGE_PAYLOAD=$(python3 tools/trigger_mage_payload.py)" >> $GITHUB_ENV

      - name: Trigger Daily Builds Page Update
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_PAT }}
        run: |
          # Send the dispatch request to trigger MAGE daily build
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token $GITHUB_TOKEN" \
            https://api.github.com/repos/memgraph/mage/dispatches \
            -d "${MAGE_PAYLOAD}"

  ManualTriggerMageDailyBuild:
    if: ${{ github.event_name == 'workflow_dispatch' && inputs.trigger_mage && !inputs.mock }}
    runs-on: [self-hosted]
    steps:
      - name: Build Request Payload
        run: |
          # Check if the 'date' input is empty; if so, compute today's date in YYYYMMDD format.
          if [ -z "${{ github.event.inputs.build_date }}" ]; then
            build_date=$(date -u +'%Y%m%d')
          else
            build_date="${{ github.event.inputs.build_date }}"
          fi
          export CURRENT_BUILD_DATE="${build_date}"

          # now reformat it as JSON
          payload=$(python3 tools/trigger_mage_payload.py)
          echo "MAGE_PAYLOAD=${payload}" >> $GITHUB_ENV

      - name: Trigger Daily Builds Page Update
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_PAT }}
        run: |
          # Send the dispatch request to trigger MAGE daily build
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token $GITHUB_TOKEN" \
            https://api.github.com/repos/memgraph/mage/dispatches \
            -d "${MAGE_PAYLOAD}"


  SetupISSUTestInputs:
    name: Setup ISSU Test Inputs
    needs: [CurrentDateJob, DailyDockerArtifact]
    if: ${{ (github.event_name == 'schedule' && always()) || (github.event_name == 'workflow_dispatch' && !inputs.skip_issu_tests) }}
    runs-on: ubuntu-24.04
    outputs:
      amd_image_url: ${{ steps.set_image_urls.outputs.amd_image_url }}
      arm_image_url: ${{ steps.set_image_urls.outputs.arm_image_url }}
      last_image_version: ${{ steps.set_last_image_version.outputs.last_image_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: AWS Login
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.S3_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.S3_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Set Image URLs
        id: set_image_urls
        env:
          MOCK: ${{ inputs.mock && 'true' || 'false' }}
        run: |
          echo "Setting next image URLs"
          export CURRENT_BUILD_DATE=${{ needs.CurrentDateJob.outputs.current_date }}
          read amd_image_url arm_image_url < <(python3 tools/get_daily_issu_images.py)
          echo "amd_image_url=$amd_image_url" >> $GITHUB_OUTPUT
          echo "arm_image_url=$arm_image_url" >> $GITHUB_OUTPUT
          echo "AMD Image URL: $amd_image_url"
          echo "ARM Image URL: $arm_image_url"

      - name: Set last image version
        id: set_last_image_version
        run: |
          echo "Setting last image version"
          last_image_version=$(./tools/get_latest_tag.sh)
          echo "last_image_version=$last_image_version" >> $GITHUB_OUTPUT

  RunISSUTest:
    name: Run ISSU Tests
    needs: [SetupISSUTestInputs]
    if: ${{ (github.event_name == 'schedule' && always() || (github.event_name == 'workflow_dispatch' && !inputs.skip_issu_tests)) && needs.SetupISSUTestInputs.result == 'success' }}
    uses: ./.github/workflows/reusable_issu_test.yaml
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd
            next_image: ${{ needs.SetupISSUTestInputs.outputs.amd_image_url }}
          - arch: arm
            next_image: ${{ needs.SetupISSUTestInputs.outputs.arm_image_url }}
    with:
      last_image: ${{ needs.SetupISSUTestInputs.outputs.last_image_version }}
      next_image: ${{ matrix.next_image }}
      arch: ${{ matrix.arch }}
    secrets: inherit
