name: "Diff-jepsen"

on:
  workflow_call:
    inputs:
      run_core:
        type: string
        description: "Should the core jepsen build tests be run? Default is true."
        default: 'true'
      run_id:
        type: string
        description: "The ID of the run that triggered this workflow."
        default: '0'

env:
  ARCH: 'amd'
  BUILD_TYPE: 'RelWithDebInfo'
  MEMGRAPH_ENTERPRISE_LICENSE: ${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}
  MEMGRAPH_ORGANIZATION_NAME: ${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}
  OS: 'debian-12'
  TOOLCHAIN: 'v6'

jobs:
  core:
    if: ${{ inputs.run_core == 'true' }}
    name: "Core tests"
    runs-on: [self-hosted, Linux, X64, DockerMgBuild]
    timeout-minutes: 60
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: ./.github/actions/docker-login
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Refresh Jepsen Cluster
        run: |
          cd tests/jepsen
          ./run.sh cluster-refresh --nodes-no 6

      - name: Spin up mgbuild container
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          run

      - name: Build release binary
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          build-memgraph

      - name: Copy memgraph binary
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          copy --binary --use-make-install --dest-dir build

      - name: Run unit tests for Jepsen code
        run: |
          cd tests/jepsen
          ./run.sh unit-tests --binary ../../build/memgraph

      - name: Run replication bank test
        run: |
          cd tests/jepsen
          ./run.sh test \
          --binary ../../build/memgraph \
          --run-args "--workload bank --nodes-config resources/replication-config.edn --time-limit 120 --concurrency 5" \
          --ignore-run-stdout-logs \
          --ignore-run-stderr-logs \
          --nodes-no 5

      - name: Run replication large test
        run: |
          cd tests/jepsen
          ./run.sh test \
          --binary ../../build/memgraph \
          --run-args "--workload large --nodes-config resources/replication-config.edn --time-limit 60 --concurrency 5" \
          --ignore-run-stdout-logs \
          --ignore-run-stderr-logs \
          --nodes-no 5

      - name: Run HA bank test
        run: |
          cd tests/jepsen
          ./run.sh test \
          --binary ../../build/memgraph \
          --run-args "--workload habank --nodes-config resources/sync_cluster.edn --time-limit 120 --concurrency 6" \
          --ignore-run-stdout-logs \
          --ignore-run-stderr-logs \
          --nodes-no 6 \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME

      - name: Process Jepsen results
        continue-on-error: true
        if: always()
        run: |
          cd tests/jepsen
          ./run.sh process-results

      - name: Save Jepsen report
        continue-on-error: true
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: "Jepsen Report-${{ inputs.run_id }}"
          path: tests/jepsen/Jepsen.tar.gz

      - name: Stop mgbuild container
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          stop --remove

      - name: Clean up Docker
        run: |
          ./tools/docker_cleanup.sh
