name: "Diff-MAGE"

on:
  workflow_call:
    inputs:
      os:
        type: string
        description: "Target os. Default value is ubuntu-24.04."
        default: 'ubuntu-24.04'
      run_amd:
        type: boolean
        description: "Should the amd mage tests be run? Default is true."
        default: true
      run_arm:
        type: boolean
        description: "Should the arm mage tests be run? Default is true."
        default: true
      run_cuda:
        type: boolean
        description: "Should the cuda mage tests be run? Default is true."
        default: true
      run_id:
        type: string
        description: "The ID of the run that triggered this workflow."
        default: ''
      ref:
        description: 'Branch or commit ref to run the workflow on'
        required: false
        default: ''
        type: string

env:
  BUILD_TYPE: 'Release'
  MEMGRAPH_ENTERPRISE_LICENSE: ${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}
  MEMGRAPH_ORGANIZATION_NAME: ${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}
  OS: ${{ inputs.os }}
  TOOLCHAIN: v7
  DEFAULT_MGBENCH_EXPORT_RESULTS_FILE: 'benchmark_result.json'
  CONAN_REMOTE: ${{ secrets.CONAN_REMOTE }}
  CONAN_USERNAME: ${{ secrets.CONAN_USERNAME }}
  CONAN_PASSWORD: ${{ secrets.CONAN_PASSWORD }}
  RUN_ID: ${{ inputs.run_id != '' && format('-{0}', inputs.run_id) || '' }}

jobs:
  amd_mage_tests:
    name: "MAGE Tests (AMD)"
    if: ${{ inputs.run_amd }}
    uses: ./.github/workflows/reusable_package_mage.yaml
    with:
      arch: amd
      push_to_github: false
      push_to_s3: false
      run_tests: true
    secrets: inherit

  arm_mage_tests:
    name: "MAGE Tests (ARM)"
    if: ${{ inputs.run_arm }}
    uses: ./.github/workflows/reusable_package_mage.yaml
    with:
      arch: arm
      push_to_github: false
      push_to_s3: false
      run_tests: true
    secrets: inherit

  cuda_mage_tests:
    name: "MAGE Tests (CUDA)"
    if: ${{ inputs.run_cuda }}
    uses: ./.github/workflows/reusable_package_mage.yaml
    with:
      arch: amd
      push_to_github: false
      push_to_s3: false
      run_tests: true
      cuda: true
    secrets: inherit
