name: "Diff-release"

on:
  workflow_call:
    inputs:
      arch:
        type: string
        description: "Target architecture (amd, arm). Default value is amd."
        default: 'amd'
      os:
        type: string
        description: "Target os. Default value is ubuntu-24.04."
        default: 'ubuntu-24.04'
      toolchain:
        type: string
        description: "Toolchain version (v4, v5, v6). Default value is v6."
        default: 'v6'
      run_core:
        type: string
        description: "Should the core release build tests be run? Default is true."
        default: 'true'
      run_benchmark:
        type: string
        description: "Should the release build benchmark be run? Default is true."
        default: 'true'
      run_e2e:
        type: string
        description: "Should the end to end tests be run? Default is true."
        default: 'true'
      run_stress:
        type: string
        description: "Should the stress and durability tests be run? Default is true."
        default: 'true'
      run_query_modules:
        type: string
        description: "Should the query modules tests be run? Default is true."
        default: 'true'
      run_id:
        type: string
        description: "The ID of the run that triggered this workflow."

env:
  ARCH: ${{ inputs.arch }}
  BUILD_TYPE: 'Release'
  MEMGRAPH_ENTERPRISE_LICENSE: ${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}
  MEMGRAPH_ORGANIZATION_NAME: ${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}
  OS: ${{ inputs.os }}
  TOOLCHAIN: ${{ inputs.toolchain }}

jobs:
  core:
    if: ${{ inputs.run_core == 'true' }}
    name: "Core tests"
    runs-on: [self-hosted, Linux, X64, DockerMgBuild]
    timeout-minutes: 60
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Spin up mgbuild container
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          run

      - name: Build release binary
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          build-memgraph

      - name: Run GQL Behave tests
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph gql-behave

      - name: Copy gql behave logs
        if: failure()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          copy --memgraph-logs --logs-dir /home/mg/memgraph/tests/gql_behave/memgraph-logs --dest-dir build/memgraph-logs-gql-behave-tests

      - name: Save test data
        continue-on-error: true
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: "GQL Behave Tests(Release build)-${{ github.run_id }}"
          path: build/memgraph-logs-gql-behave-tests

      - name: Save quality assurance status
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: "GQL Behave Status-${{ inputs.run_id }}"
          path: |
            tests/gql_behave/gql_behave_status.csv
            tests/gql_behave/gql_behave_status.html

      - name: Run unit tests
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph unit

      - name: Create enterprise DEB package
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          package-memgraph

          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          copy --package --dest-dir build/output/${{ env.OS }}

      - name: Save enterprise DEB package
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: "Enterprise DEB package-${{ inputs.run_id }}"
          path: build/output/${{ env.OS }}/memgraph*.deb

      - name: Stop mgbuild container
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          stop --remove

  benchmark:
    if: ${{ inputs.run_benchmark == 'true' }}
    name: "Benchmark"
    runs-on: [self-hosted, Linux, X64, DockerMgBuild, Gen7]
    timeout-minutes: 60
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Spin up mgbuild container
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          run

      - name: Build release binary
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          build-memgraph

      - name: Run macro benchmarks
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph macro-benchmark

      - name: Get branch name
        shell: bash
        run: |
          if [[ ${{ github.event_name }} == 'pull_request' ]]; then
            echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | tr / -)" >> $GITHUB_ENV
          else
            echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV
          fi

      - name: Upload macro benchmark results
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph upload-to-bench-graph \
          --benchmark-name "macro_benchmark" \
          --benchmark-results "../../tests/macro_benchmark/.harness_summary" \
          --github-run-id ${{ github.run_id }} \
          --github-run-number ${{ github.run_number }} \
          --head-branch-name ${{ env.BRANCH_NAME }}

      - name: Run mgbench
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph mgbench

      - name: Upload mgbench results
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph upload-to-bench-graph \
          --benchmark-name "mgbench" \
          --benchmark-results "../../tests/mgbench/benchmark_result.json" \
          --github-run-id "${{ github.run_id }}" \
          --github-run-number "${{ github.run_number }}" \
          --head-branch-name "${{ env.BRANCH_NAME }}"

      - name: Stop mgbuild container
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          stop --remove

  e2e:
    if: ${{ inputs.run_e2e == 'true' }}
    name: "End to end tests"
    runs-on: [self-hosted, Linux, X64, DockerMgBuild]
    timeout-minutes: 110
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Spin up mgbuild container
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          run

      - name: Build release binary
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          build-memgraph

      - name: Ensure Kafka and Pulsar are up
        run: |
          # Check if docker-compose exists, otherwise use docker compose
          if command -v docker-compose >/dev/null 2>&1; then
            DOCKER_COMPOSE_CMD="docker-compose"
          else
            DOCKER_COMPOSE_CMD="docker compose"
          fi

          # Export to GITHUB_ENV for use in subsequent steps
          echo "DOCKER_COMPOSE_CMD=$DOCKER_COMPOSE_CMD" >> $GITHUB_ENV

          cd tests/e2e/streams/kafka
          $DOCKER_COMPOSE_CMD up -d
          cd ../pulsar
          $DOCKER_COMPOSE_CMD up -d

      - name: Run e2e tests
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph e2e

      - name: Ensure Kafka and Pulsar are down
        run: |
          cd tests/e2e/streams/kafka
          $DOCKER_COMPOSE_CMD down
          cd ../pulsar
          $DOCKER_COMPOSE_CMD down

      - name: Copy build logs
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          copy --build-logs --dest-dir build/e2e/logs

      - name: Save test data
        continue-on-error: true
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: "Test data(Release build)-${{ inputs.run_id }}"
          path: build/e2e/logs

      - name: Stop mgbuild container
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          stop --remove

  stress:
    if: ${{ inputs.run_stress == 'true' }}
    name: "Stress tests"
    runs-on: [self-hosted, Linux, X64, DockerMgBuild]
    timeout-minutes: 60
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Spin up mgbuild container
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          run

      - name: Build release binary
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          build-memgraph

      - name: Run stress test (plain)
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph stress-plain

      - name: Run stress test (SSL)
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph stress-ssl

      - name: Run durability test (plain)
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph durability

      - name: Run durability test (large)
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph durability-large

      - name: Stop mgbuild container
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          stop --remove

  query_modules:
    if: ${{ inputs.run_query_modules == 'true' }}
    name: "Query modules tests"
    runs-on: [self-hosted, Linux, X64, DockerMgBuild]
    timeout-minutes: 60
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Spin up mgbuild container
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          run

      - name: Build release binary
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          build-memgraph

      - name: Run query modules e2e tests
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME \
          test-memgraph query_modules_e2e

      - name: Copy memgraph logs
        if: failure()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          copy --memgraph-logs --dest-dir build/memgraph-logs-query-modules

      - name: Save test data
        continue-on-error: true
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: "Query modules tests(Release build)-${{ github.run_id }}"
          path: build/memgraph-logs-query-modules

      - name: Stop mgbuild container
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          stop --remove
