name: "Diff"
concurrency:
  group: ${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  merge_group:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - ".clang-format"
      - "CODEOWNERS"
      - "licenses/*"
  workflow_dispatch:
    inputs:
      community_core:
        type: boolean
        default: true
      coverage_core:
        type: boolean
        default: true
      debug_core:
        type: boolean
        default: true
      debug_integration:
        type: boolean
        default: true
      jepsen_core:
        type: boolean
        default: true
      release_core:
        type: boolean
        default: true
      release_benchmark:
        type: boolean
        default: true
      release_e2e:
        type: boolean
        default: true
      release_stress:
        type: boolean
        default: true

jobs:
  DiffSetup:
    runs-on: ubuntu-latest
    outputs:
      run_community_core: ${{ steps.setup.outputs.run_community_core }}
      run_coverage_core: ${{ steps.setup.outputs.run_coverage_core }}
      run_debug_core: ${{ steps.setup.outputs.run_debug_core }}
      run_debug_integration: ${{ steps.setup.outputs.run_debug_integration }}
      run_jepsen_core: ${{ steps.setup.outputs.run_jepsen_core }}
      run_release_core: ${{ steps.setup.outputs.run_release_core }}
      run_release_benchmark: ${{ steps.setup.outputs.run_release_benchmark}}
      run_release_e2e: ${{ steps.setup.outputs.run_release_e2e }}
      run_release_stress: ${{ steps.setup.outputs.run_release_stress }}
    env:
      GITHUB_CONTEXT: ${{ toJson(github) }}
      CONTEXT_FILE: github_context.json
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Dump GitHub context
        run: echo "$GITHUB_CONTEXT" >> "$CONTEXT_FILE"
      - name: Set up diff execution
        id: setup
        run: ./tools/check_diff.py "$CONTEXT_FILE"

  Community:
    needs: DiffSetup
    uses: ./.github/workflows/diff_community.yaml
    with:
      arch: 'amd'
      os: 'debian-11'
      toolchain: 'v5'
      run_core: ${{ needs.DiffSetup.outputs.run_community_core }}
    secrets: inherit

  Coverage:
    needs: DiffSetup
    uses: ./.github/workflows/diff_coverage.yaml
    with:
      arch: 'amd'
      os: 'debian-11'
      toolchain: 'v5'
      run_core: ${{ needs.DiffSetup.outputs.run_coverage_core }}
    secrets: inherit

  Debug:
    needs: DiffSetup
    uses: ./.github/workflows/diff_debug.yaml
    with:
      arch: 'amd'
      os: 'debian-11'
      toolchain: 'v5'
      run_core: ${{ needs.DiffSetup.outputs.run_debug_core }}
      run_integration: ${{ needs.DiffSetup.outputs.run_debug_integration }}
    secrets: inherit

  Jepsen:
    needs: DiffSetup
    uses: ./.github/workflows/diff_jepsen.yaml
    with:
      run_core: ${{ needs.DiffSetup.outputs.run_jepsen_core }}
    secrets: inherit

  Release:
    needs: DiffSetup
    uses: ./.github/workflows/diff_release.yaml
    with:
      arch: 'amd'
      os: 'debian-11'
      toolchain: 'v5'
      run_core: ${{ needs.DiffSetup.outputs.run_release_core }}
      run_benchmark: ${{ needs.DiffSetup.outputs.run_release_benchmark }}
      run_e2e: ${{ needs.DiffSetup.outputs.run_release_e2e }}
      run_stress: ${{ needs.DiffSetup.outputs.run_release_stress }}
    secrets: inherit
