name: Package memgraph

on:
  workflow_dispatch:
    inputs:
      build_type:
        type: choice
        description: "Memgraph Build type."
        default: 'Release'
        options:
          - Release
          - RelWithDebInfo
      os:
        type: choice
        description: "Target OS for which memgraph will be packaged. Select 'all' if you want to package for every listed OS."
        default: 'ubuntu-24.04'
        options:
          - all
          - centos-9
          - centos-10
          - debian-11
          - debian-11-arm
          - debian-12
          - debian-12-arm
          - docker
          - docker-arm
          - fedora-41
          - ubuntu-22.04
          - ubuntu-24.04
          - ubuntu-24.04-arm
      toolchain:
        type: choice
        description: "Toolchain version with which memgraph will be packaged."
        default: 'v7'
        options:
          - v7
      push_to_github:
        type: boolean
        description: "Push final packages to GitHub?"
        default: false
      push_to_s3:
        type: boolean
        description: "Push final packages to an S3 bucket?"
        default: false
      s3_bucket:
        type: choice
        description: "Name of the target S3 bucket. Select 'download.memgraph.io' for official and 'deps.memgraph.io' for unofficial packages."
        default: 'download.memgraph.io'
        options:
          - download.memgraph.com
          - deps.memgraph.io
      s3_region:
        type: choice
        description: "Region for the target S3 bucket."
        options:
          - eu-west-1
      s3_dest_dir:
        type: string
        description: "Target dir path in chosen S3 bucket, don't end the path with '/'. For bucket 'download.memgraph.io' use format 'memgraph/vX.Y.Z'."
        default: ''

jobs:
  CentOS9:
    if: ${{ github.event.inputs.os == 'centos-9' || github.event.inputs.os == 'all' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "centos-9"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
      additional_build_args: "--init-skip-prep-testing"
    secrets: inherit

  CentOS10:
    if: ${{ github.event.inputs.os == 'centos-10' || github.event.inputs.os == 'all' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "centos-10"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
      additional_build_args: "--init-skip-prep-testing"
    secrets: inherit

  Debian11:
    if: ${{ github.event.inputs.os == 'debian-11' || github.event.inputs.os == 'all' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "debian-11"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit

  Debian11-arm:
    if: ${{ github.event.inputs.os == 'debian-11-arm' || github.event.inputs.os == 'all' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "debian-11"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "arm"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit

  Debian12:
    if: ${{ (github.event.inputs.os == 'debian-12' || github.event.inputs.os == 'all') && github.event.inputs.toolchain == 'v6' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "debian-12"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit

  Debian12-arm:
    if: ${{ (github.event.inputs.os == 'debian-12-arm' || github.event.inputs.os == 'all') && github.event.inputs.toolchain == 'v6' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "debian-12"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "arm"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit

  Docker-v6:
    if: ${{ (github.event.inputs.os == 'docker' || github.event.inputs.os == 'all') && github.event.inputs.toolchain == 'v6' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "ubuntu-24.04"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      additional_build_args: "--for-docker"
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit

  Docker-v6-arm:
    if: ${{ (github.event.inputs.os == 'docker-arm' || github.event.inputs.os == 'all') && github.event.inputs.toolchain == 'v6' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "ubuntu-24.04"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "arm"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      additional_build_args: "--for-docker"
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit

  Fedora41:
    if: ${{ (github.event.inputs.os == 'fedora-41' || github.event.inputs.os == 'all') && github.event.inputs.toolchain == 'v6' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "fedora-41"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
      additional_build_args: "--init-skip-prep-testing"
    secrets: inherit

  RockyLinux9_3:
    if: ${{ (github.event.inputs.os == 'rocky-9.3' || github.event.inputs.os == 'all') && github.event.inputs.toolchain == 'v5' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "rocky-9.3"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
      additional_build_args: "--init-skip-prep-testing"
    secrets: inherit

  Ubuntu22_04:
    if: ${{ github.event.inputs.os == 'ubuntu-22.04' || github.event.inputs.os == 'all' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "ubuntu-22.04"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit

  Ubuntu24_04:
    if: ${{ github.event.inputs.os == 'ubuntu-24.04' || github.event.inputs.os == 'all' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "ubuntu-24.04"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit

  Ubuntu24_04-arm:
    if: ${{ github.event.inputs.os == 'ubuntu-24.04-arm' || github.event.inputs.os == 'all' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "ubuntu-24.04"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "arm"
      build_type: ${{ github.event.inputs.build_type }}
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit

  Ubuntu24_04-malloc:
    if: ${{ github.event.inputs.os == 'ubuntu-24.04' || github.event.inputs.os == 'all' }}
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: "ubuntu-24.04"
      toolchain: ${{ github.event.inputs.toolchain }}
      arch: "amd"
      build_type: ${{ github.event.inputs.build_type }}
      additional_build_args: "--disable-jemalloc"
      push_to_github: ${{ github.event.inputs.push_to_github }}
      push_to_s3: ${{ github.event.inputs.push_to_s3 }}
      s3_bucket: ${{ github.event.inputs.s3_bucket }}
      s3_region: ${{ github.event.inputs.s3_region }}
      s3_dest_dir: ${{ github.event.inputs.s3_dest_dir }}
    secrets: inherit
