name: "Package mage"

on:
  push:
  workflow_dispatch:
    inputs:
      mage_build_arch:
        type: choice
        description: "Mage build architecture"
        default: 'amd'
        options:
          - "amd"
          - "arm"
      mage_build_type:
        type: choice
        description: "Mage build type"
        default: 'Release'
        options:
          - "Release"
          - "RelWithDebInfo"
      memgraph_download_link:
        description: "Memgraph package download link. Leave empty to use the official download link."
        default: ""
        type: string
      cuda:
        type: boolean
        description: "Build the image for CUDA"
        default: false
      push_to_s3:
        type: boolean
        description: "Push the image to S3?"
        default: false
      s3_dest_dir:
        type: string
        description: "Destination directory in S3 bucket"
        default: "mage-unofficial"
      matrix_build:
        type: boolean
        description: "Enable multiple builds via a matrix configuration?"
        default: false
      malloc:
        type: boolean
        description: "Use malloc build of memgraph (no jemalloc)"
        default: false
      run_smoke_tests:
        type: boolean
        description: "Run smoke tests on images after building (tests against previous tagged image)"
        default: false

jobs:
  BuildMage:
    if: ${{ !inputs.matrix_build }}
    uses: ./.github/workflows/reusable_package_mage.yaml
    with:
      arch: ${{ github.event.inputs.mage_build_arch || 'amd' }}
      mage_build_type: ${{ github.event.inputs.mage_build_type || 'Release' }}
      memgraph_download_link: ${{ github.event.inputs.memgraph_download_link || '' }}
      s3_dest_dir: ${{ inputs.s3_dest_dir }}
      shorten_tag: true
      cuda: ${{ inputs.cuda }}
      push_to_s3: ${{ inputs.push_to_s3 }}
      malloc: ${{ inputs.malloc }}
      run_smoke_tests: ${{ inputs.run_smoke_tests }}
      generate_sbom: ${{ inputs.mage_build_arch == 'amd' && inputs.mage_build_type == 'Release' }}
    secrets: inherit

  # New matrix build job, runs only when matrix_build is true
  BuildMageMatrix:
    if: ${{ inputs.matrix_build }}
    uses: ./.github/workflows/reusable_package_mage.yaml
    strategy:
      fail-fast: false
      matrix:
        build_type: ["Release", "RelWithDebInfo"]
        build_arch: ["amd", "arm"]
        malloc: [false]
        cuda: [false]
        include:
          - build_type: "Release"
            build_arch: "amd"
            malloc: true
            cuda: false
          - build_type: "RelWithDebInfo"
            build_arch: "amd"
            cuda: true
            malloc: false

    with:
      arch: ${{ matrix.build_arch }}
      mage_build_type: ${{ matrix.build_type }}
      memgraph_download_link: ${{ github.event.inputs.memgraph_download_link || '' }}
      s3_dest_dir: ${{ inputs.s3_dest_dir }}
      shorten_tag: true
      cuda: ${{ matrix.cuda }}
      push_to_s3: ${{ inputs.push_to_s3 }}
      malloc: ${{ matrix.malloc }}
      run_smoke_tests: ${{ inputs.run_smoke_tests }}
      generate_sbom: ${{ matrix.build_arch == 'amd' && matrix.build_type == 'Release' && !matrix.malloc }}
    secrets: inherit


  PushMatrixBuild:
    if: ${{ github.event_name == 'push' }}
    strategy:
      fail-fast: false
      matrix:
        build_type: ["Release", "RelWithDebInfo"]
        build_arch: ["amd", "arm"]
        malloc: [false]
        cuda: [false]
        include:
          - build_type: "Release"
            build_arch: "amd"
            malloc: true
            cuda: false
          - build_type: "RelWithDebInfo"
            build_arch: "amd"
            cuda: true
            malloc: false
    uses: ./.github/workflows/reusable_package_mage.yaml
    with:
      arch: ${{ matrix.build_arch }}
      mage_build_type: ${{ matrix.build_type }}
      memgraph_download_link: ''
      s3_dest_dir: "mage-unofficial/monorepo"
      shorten_tag: true
      cuda: ${{ matrix.cuda }}
      push_to_s3: true
      malloc: ${{ matrix.malloc }}
      run_tests: true
      package_deb: true
      generate_sbom: ${{ matrix.build_arch == 'amd' && matrix.build_type == 'Release' && !matrix.malloc && !matrix.cuda }}
      run_smoke_tests: false
    secrets: inherit
