name: Promote RC to Release
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Release version (format: X.Y.Z)"
        required: true
        type: string
      rc_version:
        description: "RC version to promote (format: rcX)"
        required: true
        type: string
      force_promote:
        type: boolean
        description: "Override existing release"
        default: false
      test:
        description: "Run in test mode"
        required: false
        type: boolean
      update_bsl:
        type: boolean
        description: "Update BSL change date"
        default: true

env:
  s3_region: eu-west-1
  rc_bucket: deps.memgraph.io
  rc_dir: memgraph/v${{ github.event.inputs.release_version }}-${{ github.event.inputs.rc_version }}
  release_bucket: ${{ github.event.inputs.test == 'false' && 'download.memgraph.com' || 'deps.memgraph.io' }}
  release_dir: memgraph${{ github.event.inputs.test == 'true' && '-release-test' || '' }}/v${{ github.event.inputs.release_version }}
  package_rpm_amd: memgraph-${{ github.event.inputs.release_version }}_1-1.x86_64.rpm
  package_rpm_arm: memgraph-${{ github.event.inputs.release_version }}_1-1.aarch64.rpm
  package_deb_amd: memgraph_${{ github.event.inputs.release_version }}-1_amd64.deb
  package_deb_arm: memgraph_${{ github.event.inputs.release_version }}-1_arm64.deb
  package_docker: memgraph-${{ github.event.inputs.release_version }}-docker.tar.gz
  package_docker_relwithdebinfo: memgraph-${{ github.event.inputs.release_version }}-relwithdebinfo-docker.tar.gz
  docker_repo_rc: memgraph/memgraph
  docker_repo_release: memgraph/memgraph${{ github.event.inputs.test == 'true' && '-release-test' || '' }}

jobs:
  PromotePackage:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [centos-9, centos-10, debian-12, debian-13, docker, fedora-42, rocky-10, ubuntu-22.04, ubuntu-24.04]
        arch: [amd]
        malloc: [false]
        build_type: [Release]
        include:
          - os: docker
            arch: arm
            malloc: false
            build_type: Release
          - os: docker
            arch: amd
            malloc: false
            build_type: RelWithDebInfo
          - os: docker
            arch: arm
            malloc: false
            build_type: RelWithDebInfo
          - os: docker
            arch: amd
            malloc: true
            build_type: RelWithDebInfo
          - os: docker
            arch: arm
            malloc: true
            build_type: RelWithDebInfo
          - os: debian-12
            arch: arm
            malloc: false
            build_type: Release
          - os: debian-13
            arch: arm
            malloc: false
            build_type: Release
          - os: fedora-42
            arch: arm
            malloc: false
            build_type: Release
          - os: ubuntu-24.04
            arch: arm
            malloc: false
            build_type: Release
          - os: ubuntu-24.04
            arch: amd
            malloc: true
            build_type: Release
          - os: ubuntu-24.04
            arch: arm
            malloc: false
            build_type: RelWithDebInfo
          - os: ubuntu-24.04
            arch: amd
            malloc: false
            build_type: RelWithDebInfo
    steps:
      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_AK_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SAK }}
          aws-region: ${{ env.s3_region }}

      - name: Setup package path
        run: |
          os=${{ matrix.os }}
          if [[ $os == amzn* || $os == centos* || $os == fedora* || $os == rocky* ]]; then
            if [[ "${{ matrix.arch }}" == "arm" ]]; then
              package_name=${package_rpm_arm}
            else
              package_name=${package_rpm_amd}
            fi
          elif [[ $os == docker ]]; then
            if [[ "${{ matrix.build_type }}" == "RelWithDebInfo" ]]; then
              package_name=${package_docker_relwithdebinfo}
            else
              package_name=${package_docker}
            fi
          else
            package_name=${package_deb_amd}
            if [[ "${{ matrix.arch }}" == "arm" ]]; then
              package_name=${package_deb_arm}
            fi
          fi
          if [[ "${{ matrix.malloc }}" == "true" ]]; then
            os="${os}-malloc"
          fi
          if [[ "${{ matrix.arch }}" == "arm" ]]; then
            os="${os}-aarch64"
          fi
          if [[ "${{ matrix.build_type }}" == "RelWithDebInfo" ]]; then
            os="${os}-relwithdebinfo"
          fi
          echo "package_path=${os}/${package_name}" >> $GITHUB_ENV


      - name: Check if rc package for this build exists
        run: |
          if ! aws s3 ls s3://${rc_bucket}/${rc_dir}/${package_path} &> /dev/null; then
            echo "RC package for ${os} does not exist at s3://${rc_bucket}/${rc_dir}/${package_path}"
            exit 1
          fi

      - name: Check if release package for this build already exists
        run: |
          if aws s3 ls s3://${release_bucket}/${release_dir}/${package_path} &> /dev/null; then
            echo "Release package for ${os} already exists at s3://${release_bucket}/${release_dir}/${package_path}"
            if [[ "${{ github.event.inputs.force_promote }}" != "true" ]]; then
              echo "Set force_promote to true to override existing release!"
              exit 1
            fi
            echo "Forcing promotion of existing release ..."
          fi

      - name: Promote RC to Release
        run: |
          aws s3 cp s3://${rc_bucket}/${rc_dir}/${package_path} s3://${release_bucket}/${release_dir}/${package_path}
          echo "Successfully promoted RC package for ${os} to s3://${release_bucket}/${release_dir}/${package_path}!"

  PromoteDocker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: [Release, RelWithDebInfo]
        malloc: [false]
        include:
          - build_type: RelWithDebInfo
            malloc: true
    steps:
      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_AK_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SAK }}
          aws-region: ${{ env.s3_region }}

      - name: Set package names and tags
        env:
          RELEASE_VERSION: ${{ github.event.inputs.release_version }}
        run: |
          # TODO(matt): reorder the pieces in the package names to match the order of tags both in Memgraph and MAGE

          # set s3 paths for amd and arm
          package="${package_docker}"
          os_x86="docker"
          os_arm="docker-aarch64"
          if [[ "${{ matrix.malloc }}" == "true" ]]; then
            os_x86="${os_x86}-malloc"
            os_arm="$docker-malloc-aarch64"  # TODO(matt): reorder this in packaging workflow
          fi
          if [[ "${{ matrix.build_type }}" == "RelWithDebInfo" ]]; then
            package="${package_docker_relwithdebinfo}"
            os_x86="${os_x86}-relwithdebinfo"
            os_arm="${os_arm}-relwithdebinfo"
          fi
          s3_path_amd="s3://${rc_bucket}/${rc_dir}/${os_x86}/${package}"
          s3_path_arm="s3://${rc_bucket}/${rc_dir}/${os_arm}/${package}"

          echo "AMD S3 path: ${s3_path_amd}"
          echo "ARM S3 path: ${s3_path_arm}"
          echo "S3_PATH_AMD=${s3_path_amd}" >> $GITHUB_ENV
          echo "S3_PATH_ARM=${s3_path_arm}" >> $GITHUB_ENV

          # set docker image tags
          IMAGE_TAG="$RELEASE_VERSION"
          if [[ "${{ matrix.build_type }}" == "RelWithDebInfo" ]]; then
            IMAGE_TAG="${IMAGE_TAG}-relwithdebinfo"
          fi
          # TODO(matt): fix packaging to add "malloc" to the tag
          RC_IMAGE_TAG="${IMAGE_TAG}"
          if [[ "${{ matrix.malloc }}" == "true" ]]; then
            IMAGE_TAG="${IMAGE_TAG}-malloc"
          fi
          IMAGE_TAG_AMD="${IMAGE_TAG}-amd64"
          IMAGE_TAG_ARM="${IMAGE_TAG}-arm64"
          echo "Docker image tag: ${IMAGE_TAG}"
          echo "Docker image tag AMD: ${IMAGE_TAG_AMD}"
          echo "Docker image tag ARM: ${IMAGE_TAG_ARM}"
          echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV
          echo "IMAGE_TAG_AMD=${IMAGE_TAG_AMD}" >> $GITHUB_ENV
          echo "IMAGE_TAG_ARM=${IMAGE_TAG_ARM}" >> $GITHUB_ENV
          echo "RC_IMAGE_TAG=${RC_IMAGE_TAG}" >> $GITHUB_ENV

          # set repo:tag strings
          RC_IMAGE="${docker_repo_rc}:${RC_IMAGE_TAG}"
          RELEASE_IMAGE="${docker_repo_release}:${IMAGE_TAG}"
          RELEASE_IMAGE_AMD="${RELEASE_IMAGE}-amd64"
          RELEASE_IMAGE_ARM="${RELEASE_IMAGE}-arm64"
          echo "RC Image: ${RC_IMAGE}"
          echo "Release Image: ${RELEASE_IMAGE}"
          echo "Release Image AMD: ${RELEASE_IMAGE_AMD}"
          echo "Release Image ARM: ${RELEASE_IMAGE_ARM}"
          echo "RC_IMAGE=${RC_IMAGE}" >> $GITHUB_ENV
          echo "RELEASE_IMAGE=${RELEASE_IMAGE}" >> $GITHUB_ENV
          echo "RELEASE_IMAGE_AMD=${RELEASE_IMAGE_AMD}" >> $GITHUB_ENV
          echo "RELEASE_IMAGE_ARM=${RELEASE_IMAGE_ARM}" >> $GITHUB_ENV

      - name: Check if rc image for this build exists
        run: |
          if ! aws s3 ls ${S3_PATH_AMD} &> /dev/null; then
            echo "RC package for AMD does not exist at ${S3_PATH_AMD}"
            exit 1
          elif ! aws s3 ls ${S3_PATH_ARM} &> /dev/null; then
            echo "RC package for ARM does not exist at ${S3_PATH_ARM}"
            exit 1
          fi

      - name: Check if release image for this build aldready exists
        run: |
          release_image=${docker_repo_release}:${IMAGE_TAG}
          if docker manifest inspect ${release_image} &> /dev/null; then
            echo "Release image ${release_image} already exists on DockerHub"
            if [[ "${{ github.event.inputs.force_promote }}" != "true" ]]; then
              echo "Set force_promote to true to override existing release!"
              exit 1
            fi
            echo "Forcing promotion of existing release ..."
          fi

      - name: "Log in to Docker Hub"
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get dockerhub token
        run: |
          dockerhub_token=$(curl -s -H "Content-Type: application/json" -X POST -d '{"username": "${{ secrets.DOCKERHUB_USERNAME }}", "password": "${{ secrets.DOCKERHUB_TOKEN }}"}' https://hub.docker.com/v2/users/login/ | jq -r .token)
          echo "dockerhub_token=${dockerhub_token}" >> $GITHUB_ENV

      - name: Promote RC to Release (Release)
        run: |
          # Download and load, retag if necessary, push temporary image
          # arm64
          aws s3 cp ${S3_PATH_ARM} - | docker load
          docker tag ${RC_IMAGE} ${RELEASE_IMAGE_ARM}
          docker push ${RELEASE_IMAGE_ARM}

          # amd64
          aws s3 cp ${S3_PATH_AMD} - | docker load
          docker tag ${RC_IMAGE} ${RELEASE_IMAGE_AMD}
          docker push ${RELEASE_IMAGE_AMD}

          # Setup manifest list for release image
          docker manifest create ${RELEASE_IMAGE} \
          --amend ${RELEASE_IMAGE_AMD} \
          --amend ${RELEASE_IMAGE_ARM}
          docker manifest push ${RELEASE_IMAGE}

          if [[ "${{ matrix.build_type }}" == "Release" ]]; then
            # Setup manifest list for latest image
            RELEASE_IMAGE_LATEST="${docker_repo_release}:latest"
            docker manifest create ${RELEASE_IMAGE_LATEST} \
            --amend ${RELEASE_IMAGE_AMD} \
            --amend ${RELEASE_IMAGE_ARM}
            docker manifest push ${RELEASE_IMAGE_LATEST}
            echo "Successfully published ${RELEASE_IMAGE} and ${RELEASE_IMAGE_LATEST} to DockerHub!"
          else
            echo "Successfully published ${RELEASE_IMAGE} to DockerHub!"
          fi


      - name: Clean up temporary images
        run: |
          echo "Deleting temporary image ${IMAGE_TAG_AMD} ..."
          curl -i -n -X DELETE -H "Authorization: JWT ${dockerhub_token}" https://hub.docker.com/v2/repositories/${docker_repo_release}/tags/${IMAGE_TAG_AMD}/
          echo "Deleting temporary image ${IMAGE_TAG_ARM} ..."
          curl -i -n -X DELETE -H "Authorization: JWT ${dockerhub_token}" https://hub.docker.com/v2/repositories/${docker_repo_release}/tags/${IMAGE_TAG_ARM}/


  TriggerBSLUpdate:
    if: ${{ github.event.inputs.update_bsl == 'true' }}
    uses: ./.github/workflows/update-bsl.yml
    needs: [PromotePackage, PromoteDocker]
    secrets: inherit
