name: Release build test
concurrency:
  group: Release-build-test-${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

on:
  push:
    tags:
      - "v*.*.*-rc*"
      - "v*.*-rc*"
  workflow_dispatch:
    inputs:
      build_type:
        type: choice
        description: "Memgraph Build type. Default value is Release."
        default: Release
        options:
          - Release
          - RelWithDebInfo
      os:
        type: choice
        description: "Target OS on which the release tests will be run."
        default: ubuntu-24.04
        options:
          - all
          - centos-9
          - debian-11
          - debian-12
          - fedora-38
          - fedora-39
          - rocky-9.3
          - ubuntu-20.04
          - ubuntu-22.04
          - ubuntu-24.04


jobs:
  TestIndividual:
    if: ${{ (!github.event.inputs.os || github.event.inputs.os != 'all') && !contains(github.event.head_commit.message, '[skip tests]') }}
    uses: ./.github/workflows/reusable_release_tests.yaml
    with:
      os: ${{ github.event.inputs.os || 'ubuntu-24.04' }}
      toolchain: v6
      arch: amd
      threads: 24
      build_type: ${{ github.event.inputs.build_type || 'Release' }}
    secrets: inherit

  TestAll:
    if: ${{ github.event.inputs.os == 'all' }}
    strategy:
      matrix:
        os: [centos-9, debian-11, debian-12, fedora-38, fedora-39, rocky-9.3, ubuntu-20.04, ubuntu-22.04, ubuntu-24.04]
    uses: ./.github/workflows/reusable_release_tests.yaml
    with:
      os: ${{ matrix.os }}
      toolchain: v6
      arch: amd
      threads: 24
      build_type: ${{ github.event.inputs.build_type || 'Release' }}
    secrets: inherit

  PackageArtifact:
    if: ${{ github.ref_type == 'tag' && !contains(github.event.head_commit.message, '[skip tests]') }}
    needs: [TestIndividual]
    strategy:
      fail-fast: false
      matrix:
        os: [centos-9, centos-10, debian-11, debian-12, fedora-41, ubuntu-22.04, ubuntu-24.04]
        arch: [amd]
        build_type: [Release]
        additional_build_args: ['']
        include: # Add arm builds and RelwithDebInfo builds
          - os: debian-11
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: debian-12
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: Release
            arch: arm
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: Release
            arch: amd
            additional_build_args: '--disable-jemalloc'
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: arm
            additional_build_args: ''
          - os: ubuntu-24.04
            build_type: RelWithDebInfo
            arch: amd
            additional_build_args: ''
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      build_type: ${{ matrix.build_type }}
      toolchain: v6
      push_to_github: 'false'
      push_to_s3: 'true'
      s3_bucket: deps.memgraph.io
      s3_region: eu-west-1
      s3_dest_dir: "memgraph/${{ github.ref_name }}"
      additional_build_args: ${{ matrix.additional_build_args }}
    secrets: inherit

  DockerArtifact:
    if: ${{ github.ref_type == 'tag' && !contains(github.event.head_commit.message, '[skip tests]') }}
    needs: [TestIndividual]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        arch: [amd, arm]
        build_type: [Release, RelWithDebInfo]
    uses: ./.github/workflows/reusable_package.yaml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      build_type: ${{ matrix.build_type }}
      toolchain: v6
      additional_build_args: '--for-docker'
      push_to_github: 'false'
      push_to_s3: 'true'
      s3_bucket: deps.memgraph.io
      s3_region: eu-west-1
      s3_dest_dir: "memgraph/${{ github.ref_name }}"
    secrets: inherit
