name: "Jepsen HA Stress Tests"

on:
  workflow_call:
    inputs:
      name:
        type: string
        description: "Test name"
        required: true
      mt:
        type: boolean
        description: "Run MT test"
        required: true
      mode:
        type: string
        description: "Cluster mode (sync, sync_mixed, strict_sync, strict_sync_mixed)"
        required: true
      time-limit:
        type: string
        description: "Duration of Jepsen test (in seconds)"
        required: true
        default: "7200"
      num-tenants:
        type: string
        description: "Number of tenants used in the HA Jepsen test"
        required: true
        default: "5"
      concurrency:
        type: string
        description: "The number of worker threads. If not set, number of nodes will be used instead."
        default: ""


env:
  ARCH: 'amd'
  BUILD_TYPE: 'RelWithDebInfo'
  MEMGRAPH_ENTERPRISE_LICENSE: ${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}
  MEMGRAPH_ORGANIZATION_NAME: ${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}
  OS: 'debian-12'
  TOOLCHAIN: 'v7'
  NODES_NO: 6

jobs:
  ha-test:
    name: "Run Jepsen HA Tests"
    runs-on: [self-hosted, Linux, X64, DockerMgBuild]
    timeout-minutes: 720
    steps:
      - name: Show disk space
        run: |
          echo -e "\033[1;31mDisk space:\033[0m"
          df -h
          echo -e "\033[1;31mDocker system df:\033[0m"
          docker system df -v

      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: ./.github/actions/docker-login
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set Cluster File
        run: |
            case "${{ inputs.mode }}" in
              sync)
                echo "CLUSTER=sync_cluster.edn" >> $GITHUB_ENV
                ;;
              sync_mixed)
                echo "CLUSTER=sync_mixed_cluster.edn" >> $GITHUB_ENV
                ;;
              strict_sync)
                echo "CLUSTER=strict_sync_cluster.edn" >> $GITHUB_ENV
                ;;
              strict_sync_mixed)
              echo "CLUSTER=strict_sync_mixed_cluster.edn" >> $GITHUB_ENV
              ;;
              *)
                echo "Unsupported mode: ${{ inputs.mode }}"
                exit 1
                ;;
            esac

      - name: Refresh Jepsen Cluster
        run: |
          cd tests/jepsen
          ./run.sh cluster-refresh --nodes-no $NODES_NO

      - name: Spin up mgbuild container
        run: |
          ./release/package/mgbuild.sh --toolchain $TOOLCHAIN --os $OS --arch $ARCH run

      - name: Build release binary
        run: |
          ./release/package/mgbuild.sh --toolchain $TOOLCHAIN --os $OS --arch $ARCH --build-type $BUILD_TYPE build-memgraph

      - name: Copy memgraph binary
        run: |
          ./release/package/mgbuild.sh --toolchain $TOOLCHAIN --os $OS --arch $ARCH copy --binary --use-make-install --dest-dir build

      - name: Run unit tests for Jepsen code
        run: |
          cd tests/jepsen
          ./run.sh unit-tests --binary ../../build/memgraph

      - name: Run Jepsen workload
        env:
            INPUT_CONCURRENCY: ${{ inputs.concurrency }}
        run: |
          cd tests/jepsen

          ./clean_old_directories.sh --nodes-no $NODES_NO > cleanup.log 2>&1 &
          CLEANUP_PID=$!
          trap "kill $CLEANUP_PID" EXIT

          if [ -z "$INPUT_CONCURRENCY" ]; then
            MIN=$NODES_NO
            MAX=$((3 * NODES_NO))
            CONCURRENCY=$((MIN + RANDOM % (MAX - MIN + 1)))
            echo "Generated random concurrency: $CONCURRENCY (range: $MIN-$MAX)"
          else
            CONCURRENCY=$INPUT_CONCURRENCY
            echo "Using provided concurrency: $CONCURRENCY"
          fi

          if [[ "${{ inputs.mt }}" == "true" ]]; then
            NEMESIS_SLEEP_SEC=$((90 * ${{ inputs.num-tenants }}))
            ARGS="--workload ha-mt --nodes-config resources/${{ env.CLUSTER }} --time-limit ${{ inputs.time-limit }} --concurrency $CONCURRENCY --num-tenants ${{ inputs.num-tenants }} --recovery-time 600 --nemesis-start-sleep $NEMESIS_SLEEP_SEC"
          else
            ARGS="--workload hacreate --nodes-config resources/${{ env.CLUSTER }} --time-limit ${{ inputs.time-limit }} --concurrency $CONCURRENCY --recovery-time 600 --nemesis-start-sleep 25"
          fi

          ./run.sh test \
            --binary ../../build/memgraph \
            --run-args "$ARGS" \
            --ignore-run-stdout-logs \
            --ignore-run-stderr-logs \
            --nodes-no $NODES_NO \
            --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
            --organization-name $MEMGRAPH_ORGANIZATION_NAME

      - name: Process Jepsen results
        if: always()
        continue-on-error: true
        run: |
          cd tests/jepsen
          ./run.sh process-results

      - name: Save Jepsen report
        if: always()
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: "Jepsen Report-${{ inputs.name }}"
          path: tests/jepsen/Jepsen.tar.gz

      - name: Refresh Jepsen Cluster
        if: always()
        continue-on-error: true
        run: |
          cd tests/jepsen
          ./run.sh cluster-refresh --nodes-no $NODES_NO

      - name: Stop mgbuild container
        if: always()
        run: |
          ./release/package/mgbuild.sh --toolchain $TOOLCHAIN --os $OS --arch $ARCH stop --remove

      - name: Clean up Docker
        if: always()
        continue-on-error: true
        run: |
          ./tools/docker_cleanup.sh

      - name: Show disk space
        run: |
          echo -e "\033[1;31mDisk space:\033[0m"
          df -h
          echo -e "\033[1;31mDocker system df:\033[0m"
          docker system df -v
