name: Reusable package make and upload

on:
  workflow_call:
    inputs:
      os:
        type: string
        description: "Target os. Default value is ubuntu-24.04."
        default: ubuntu-24.04
      arch:
        type: string
        description: "Target architecture. Default value is amd."
        default: amd
      build_type:
        type: string
        description: "Memgraph Build type. Default value is Release."
        default: Release
      additional_build_args:
        type: string
        description: "Additional build flags (--for-docker ...). Default value is empty."
        default: ''
      push_to_github:
        type: string
        description: "Should the final package be pushed to GitHub. Default value is false."
        default: false
      push_to_s3:
        type: string
        description: "Should the final package be pushed to an S3 bucket. Default value is false."
        default: false
      s3_bucket:
        type: string
        description: "Name of the target S3 bucket."
        default: ''
      s3_region:
        type: string
        description: "Region for the target S3 bucket."
        default: eu-west-1
      s3_dest_dir:
        type: string
        description: "Target dir path in S3 bucket."
        default: ''
      ref:
        type: string
        description: "Git ref to checkout. Default value is the current ref."
        default: ''
      generate_sbom:
        type: boolean
        description: "Generate SBOM"
        default: false

env:
  TOOLCHAIN: v7
  GENERATE_SBOM: ${{ inputs.generate_sbom }}
  ARCH: ${{ inputs.arch }}
  BUILD_TYPE: ${{ inputs.build_type }}
  OS: ${{ inputs.os }}
  ADDITIONAL_BUILD_ARGS: ${{ inputs.additional_build_args }}
  PUSH_TO_GITHUB: ${{ inputs.push_to_github }}
  PUSH_TO_S3: ${{ inputs.push_to_s3 }}
  S3_BUCKET: ${{ inputs.s3_bucket }}
  S3_REGION: ${{ inputs.s3_region }}
  S3_DEST_DIR: ${{ inputs.s3_dest_dir }}
  REF: ${{ inputs.ref }}
  CONAN_REMOTE: ${{ secrets.CONAN_REMOTE }}

jobs:
  PackageAndUpload:
    runs-on: ${{ (inputs.arch == 'arm') && fromJSON('["self-hosted", "DockerMgBuild", "ARM64"]') || fromJSON((inputs.os == 'centos-10' || inputs.os == 'rocky-10') && '["self-hosted", "DockerMgBuild", "X64", "x86-64-v3"]' || '["self-hosted", "DockerMgBuild", "X64"]') }}
    timeout-minutes: ${{ inputs.arch == 'arm' && 120 || 60 }}
    steps:
      - name: "Validate S3 dest dir for official package"
        if: ${{ inputs.push_to_s3 == 'true' && inputs.s3_bucket == 'download.memgraph.com' }}
        run: |
          if [[ "$BUILD_TYPE" == 'RelWithDebInfo' ]]; then
            echo -e "Error: You are pushing a RelWithDebInfo build to 'download.memgraph.com'."
            exit 1
          fi
          if ! [[ "$S3_DEST_DIR" =~ memgraph/v[0-9]\.[0-9]+\.[0-9]+$ ]]; then
            echo -e "Error: $S3_DEST_DIR is not a valid official format. When pushing to 'download.memgraph.com' the dest dir has to match format 'memgraph/vX.Y.Z'!"
            exit 1
          fi
          echo -e "Passed: Dest dir $S3_DEST_DIR has a valid official format."

      - name: "Set up repository"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required because of release/get_version.py
          ref: ${{ inputs.ref != '' && inputs.ref || github.ref }}

      - name: "Log in to Docker Hub"
        uses: ./.github/actions/docker-login
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: "Set artifact name and dir"
        run: |
          artifact_name="$OS"
          artifact_dir='build/output'
          if [[ "$ADDITIONAL_BUILD_ARGS" == *"--for-docker"* ]]; then
            artifact_name='docker'
            echo "FOR_DOCKER=true" >> $GITHUB_ENV
            echo "DOCKER_ARTIFACT_DIR=${artifact_dir}/docker" >> $GITHUB_ENV
          fi
          if [[ "$ADDITIONAL_BUILD_ARGS" == *"--disable-jemalloc"* ]]; then
            artifact_name="${artifact_name}-malloc"
          fi
          if [[ "$ARCH" == 'arm' ]]; then
            artifact_name="${artifact_name}-aarch64"
          fi
          if [[ "$BUILD_TYPE" == 'RelWithDebInfo' ]]; then
            artifact_name="${artifact_name}-relwithdebinfo"
          fi
          echo "ARTIFACT_NAME=$artifact_name" >> $GITHUB_ENV
          echo "PACKAGE_ARTIFACT_DIR=${artifact_dir}/package" >> $GITHUB_ENV

      - name: Set Additional Build Args
        run: |
          if [[ -z "$ADDITIONAL_BUILD_ARGS" ]]; then
            args="--disable-testing"
          else
            args="$ADDITIONAL_BUILD_ARGS --disable-testing"
          fi
          echo "ADDITIONAL_BUILD_ARGS=$args" >> $GITHUB_ENV
          echo "Final build args: $args"

      - name: "Spin up mgbuild container"
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os "$OS" \
          --arch $ARCH \
          run

      - name: "Build Memgraph binaries"
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os "$OS" \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          --conan-remote $CONAN_REMOTE \
          build-memgraph $ADDITIONAL_BUILD_ARGS

      - name: "Make package"
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os "$OS" \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          package-memgraph

      - name: "Copy package"
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os "$OS" \
          --arch $ARCH \
          copy \
          --package \
          --dest-dir $PACKAGE_ARTIFACT_DIR

      - name: "Copy SBOM"
        if: ${{ env.GENERATE_SBOM == 'true' }}
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os "$OS" \
          --arch $ARCH \
          copy \
          --sbom

      - name: "Build heaptrack"
        if: ${{ inputs.build_type == 'RelWithDebInfo' && env.FOR_DOCKER == 'true' }}
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os "$OS" \
          --arch $ARCH \
          build-heaptrack

      - name: "Copy heaptrack"
        if: ${{ inputs.build_type == 'RelWithDebInfo' && env.FOR_DOCKER == 'true' }}
        run: |
          mkdir -p release/docker
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os "$OS" \
          --arch $ARCH \
          copy-heaptrack \
          --dest-dir "$(pwd)/release/docker"

      - name: "Stop mgbuild container"
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os "$OS" \
          --arch $ARCH \
          stop --remove

      - name: "Create docker image"
        if: ${{ env.FOR_DOCKER == 'true' }}
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os "$OS" \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          package-docker \
          --src-dir $PACKAGE_ARTIFACT_DIR \
          --dest-dir $DOCKER_ARTIFACT_DIR \
          --generate-sbom $GENERATE_SBOM

      - name: "Generate Build SBOM"
        if: ${{ env.GENERATE_SBOM == 'true'  && env.FOR_DOCKER != 'true' }}
        run: |
          ./tools/sbom/build-sbom.sh

      - name: "Upload SBOM Files"
        if: ${{ env.GENERATE_SBOM == 'true' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: memgraph-sbom
          path: sbom/

      - name: "Rename Package"
        if: github.ref == 'refs/heads/master' && !inputs.ref
        run: |
          # during testing, we will keep the default naming because it uses the
          # previous tag + number of commits since and the current commit hash
          # if on master, then store the latest PR number and the commit

          # get the latest tagged version
          tag="$(tools/get_latest_tag.sh)"

          # fetch the most recent PR number from git log
          pr="$(git log --pretty=%B | grep -oP '(?<=\(#)\d+(?=\))' | head -n 1)"

          # use the short commit hash
          commit="$(git rev-parse HEAD | cut -c1-12)"

          # set the artifact directory containing the file we want to rename
          if [ "$FOR_DOCKER" == "true" ]; then
            artifact_path="$DOCKER_ARTIFACT_DIR"
          else
            artifact_path="$PACKAGE_ARTIFACT_DIR"
          fi

          # find the existing file name
          old_name="$(ls -1 $artifact_path/memgraph* 2>/dev/null | head -n 1)"

          # determine new name
          if [ "$FOR_DOCKER" == "true" ]; then
            new_name="memgraph-${tag}_pr${pr}_${commit}"
            if [[ "$BUILD_TYPE" == 'RelWithDebInfo' ]]; then
              new_name="${new_name}-relwithdebinfo"
            fi
            new_name="${new_name}-docker.tar.gz"
          elif [[ "$OS" == *"debian"* || "$OS" == *"ubuntu"* ]]; then
            new_name="memgraph_${tag}+pr${pr}~${commit}-1_${ARCH}64.deb"
          elif [[ "$OS" == *"centos"* || "$OS" == *"fedora"* || "$OS" == *"rocky"* ]]; then
            if [[ "$ARCH" == "amd" ]]; then
              arch_str="x86_64"
            else
              arch_str="aarch64"
            fi
            new_name="memgraph-${tag}_0.pr${pr}.${commit}-1.${arch_str}.rpm"
          fi

          # rename it
          mv -v $old_name "$artifact_path/$new_name"

      - name: "Upload to Github"
        if: ${{  inputs.push_to_github == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: "${{ env.FOR_DOCKER == 'true' && env.DOCKER_ARTIFACT_DIR || env.PACKAGE_ARTIFACT_DIR }}/memgraph*"

      - name: "Upload to S3"
        if: ${{ inputs.push_to_s3 == 'true' }}
        run:
          aws s3 sync $SOURCE_DIR s3://${S3_BUCKET}/$DEST_DIR
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.S3_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ inputs.s3_region }}
          SOURCE_DIR: ${{ env.FOR_DOCKER == 'true' && env.DOCKER_ARTIFACT_DIR || env.PACKAGE_ARTIFACT_DIR }}
          DEST_DIR: "${{ inputs.s3_dest_dir }}/${{ env.ARTIFACT_NAME }}/"

      - name: Clean up heaptrack
        if: ${{ inputs.build_type == 'RelWithDebInfo' && env.FOR_DOCKER == 'true' }}
        run: |
          rm -rf release/docker/heaptrack

      - name: "Clean up Docker"
        if: always()
        continue-on-error: true
        run: |
          ./tools/docker_cleanup.sh
