name: Reusable package make and upload

on:
  workflow_call:
    inputs:
      os:
        type: string
        description: "Target os. Default value is ubuntu-24.04."
        default: ubuntu-24.04
      arch:
        type: string
        description: "Target architecture. Default value is amd."
        default: amd
      toolchain:
        type: string
        description: "Toolchain version. Default value is v6."
        default: v6
      build_type:
        type: string
        description: "Memgraph Build type. Default value is Release."
        default: Release
      additional_build_args:
        type: string
        description: "Additional build flags (--for-docker ...). Default value is empty."
        default: ''
      push_to_github:
        type: string
        description: "Should the final package be pushed to GitHub. Default value is false."
        default: false
      push_to_s3:
        type: string
        description: "Should the final package be pushed to an S3 bucket. Default value is false."
        default: false
      s3:
        type: string
        description: 'A JSON string containing S3 configuration with keys "bucket", "region", and "dest_dir".'
        default: '{"bucket": "", "region": "eu-west-1", "dest_dir": ""}'
      test_result:
        type: string
        description: "Results of testing"
        default: ""

jobs:
  PackageAndUpload:
    runs-on: ${{ (inputs.arch == 'arm') && 'ubuntu-large-arm' || fromJSON(inputs.os == 'centos-10' && '["self-hosted", "DockerMgBuild", "X64", "x86-64-v3"]' || '["self-hosted", "DockerMgBuild", "X64"]') }}
    timeout-minutes: ${{ inputs.arch == 'arm' && 120 || 60 }}
    env:
      mgdeps_cache_host: "${{ inputs.arch == 'arm' && 'false' || 'mgdeps-cache' }}" # Required because strange is not connected to memgraph openVPN
    steps:
      - name: Parse S3 input into environment variables
        run: |
          echo "S3_BUCKET=${{ fromJson(inputs.s3).bucket }}" >> $GITHUB_ENV
          echo "S3_REGION=${{ fromJson(inputs.s3).region }}" >> $GITHUB_ENV
          S3_DEST_DIR="${{ fromJson(inputs.s3).dest_dir }}"
          if [ "$S3_DEST_DIR" == "daily-build" ]; then
            S3_DEST_DIR="$S3_DEST_DIR/$(date +%Y%m%d)"
          fi
          echo "S3_DEST_DIR=$S3_DEST_DIR" >> $GITHUB_ENV

      - name: "Validate S3 dest dir for official package"
        if: ${{ inputs.push_to_s3 == 'true' && env.S3_BUCKET == 'download.memgraph.com' }}
        run: |
          if [[ "${{ inputs.build_type }}" == 'RelWithDebInfo' ]]; then
            echo -e "Error: You are pushing a RelWithDebInfo build to 'download.memgraph.com'."
            exit 1
          fi
          if ! [[ "${{ env.S3_DEST_DIR }}" =~ memgraph/v[0-9]\.[0-9]+\.[0-9]+$ ]]; then
            echo -e "Error: ${{ env.S3_DEST_DIR }} is not a valid official format. When pushing to 'download.memgraph.com' the dest dir has to match format 'memgraph/vX.Y.Z'!"
            exit 1
          fi
          echo -e "Passed: Dest dir ${{ env.S3_DEST_DIR }} has a valid official format."

      - name: "Set up repository"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required because of release/get_version.py

      - name: "Unlock keychain for current session" # Required beacuse ARM builds run on macos
        # if: ${{ inputs.arch == 'arm' }}
        if: false
        run: security -v unlock-keychain -p ${{ secrets.SELF_HOSTED_RUNNER_PASSWORD }} ~/Library/Keychains/login.keychain-db

      - name: "Log in to Docker Hub"
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: "Set artifact name and dir"
        run: |
          artifact_name=${{ inputs.os }}
          artifact_dir='build/output'
          if [[ "${{ inputs.additional_build_args }}" == *"--for-docker" ]]; then
            artifact_name='docker'
            echo "FOR_DOCKER=true" >> $GITHUB_ENV
            echo "DOCKER_ARTIFACT_DIR=${artifact_dir}/docker" >> $GITHUB_ENV
          fi
          if [[ "${{ inputs.additional_build_args }}" == *"--disable-jemalloc" ]]; then
            artifact_name="${artifact_name}-malloc"
          fi
          if [[ "${{ inputs.arch }}" == 'arm' ]]; then
            artifact_name="${artifact_name}-aarch64"
          fi
          if [[ "${{ inputs.build_type }}" == 'RelWithDebInfo' ]]; then
            artifact_name="${artifact_name}-relwithdebinfo"
          fi
          echo "ARTIFACT_NAME=$artifact_name" >> $GITHUB_ENV
          echo "PACKAGE_ARTIFACT_DIR=${artifact_dir}/package" >> $GITHUB_ENV

      - name: Set Additional Build Args
        run: |
          args="${{ inputs.additional_build_args }}"
          if [[ "${{ inputs.os }}" == "centos-9" || "${{ inputs.os }}" == "centos-10" || "${{ inputs.os }}" == "fedora-41" ]]; then
            args="$args --init-skip-prep-testing"
          fi
          echo "ADDITIONAL_BUILD_ARGS=$args" >> $GITHUB_ENV
          echo "Final build args: $args"

      - name: "Spin up mgbuild container"
        run: |
          ./release/package/mgbuild.sh \
          --toolchain ${{ inputs.toolchain }} \
          --os ${{ inputs.os }} \
          --arch ${{ inputs.arch }} \
          run

      - name: "Build Memgraph binaries"
        run: |
          ./release/package/mgbuild.sh \
          --toolchain ${{ inputs.toolchain }} \
          --os ${{ inputs.os }} \
          --arch ${{ inputs.arch }} \
          --build-type ${{ inputs.build_type }} \
          --mgdeps-cache-host ${{ env.mgdeps_cache_host }} \
          build-memgraph ${{ env.ADDITIONAL_BUILD_ARGS }}

      - name: "Make package"
        run: |
          ./release/package/mgbuild.sh \
          --toolchain ${{ inputs.toolchain }} \
          --os ${{ inputs.os }} \
          --arch ${{ inputs.arch }} \
          --build-type ${{ inputs.build_type }} \
          package-memgraph

      - name: "Copy package"
        run: |
          ./release/package/mgbuild.sh \
          --toolchain ${{ inputs.toolchain }} \
          --os ${{ inputs.os }} \
          --arch ${{ inputs.arch }} \
          copy \
          --package \
          --dest-dir ${{ env.PACKAGE_ARTIFACT_DIR }}

      - name: "Stop mgbuild container"
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain ${{ inputs.toolchain }} \
          --os ${{ inputs.os }} \
          --arch ${{ inputs.arch }} \
          stop --remove

      - name: "Create docker image"
        if: ${{ env.FOR_DOCKER == 'true' }}
        run: |
          ./release/package/mgbuild.sh \
          --toolchain ${{ inputs.toolchain }} \
          --os ${{ inputs.os }} \
          --arch ${{ inputs.arch }} \
          --build-type ${{ inputs.build_type }} \
          package-docker \
          --src-dir ${{ env.PACKAGE_ARTIFACT_DIR }} \
          --dest-dir ${{ env.DOCKER_ARTIFACT_DIR }}

      - name: "Upload to Github"
        if: ${{  inputs.push_to_github == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: "${{ env.FOR_DOCKER == 'true' && env.DOCKER_ARTIFACT_DIR || env.PACKAGE_ARTIFACT_DIR }}/memgraph*"

      - name: "Upload to S3"
        if: ${{ inputs.push_to_s3 == 'true' }}
        run:
          aws s3 sync $SOURCE_DIR s3://${{ env.S3_BUCKET }}/$DEST_DIR
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.S3_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ env.S3_REGION }}
          SOURCE_DIR: ${{ env.FOR_DOCKER == 'true' && env.DOCKER_ARTIFACT_DIR || env.PACKAGE_ARTIFACT_DIR }}
          DEST_DIR: "${{ env.S3_DEST_DIR }}/${{ env.ARTIFACT_NAME }}/"


      - name: Get Package Name
        run: |
          if [ ${{ env.FOR_DOCKER == 'true' }} ]; then
            file=$(find "${{ env.DOCKER_ARTIFACT_DIR }}/" -maxdepth 1 -type f -name 'memgraph*' | head -n 1)
          else
            file=$(find "${{ env.PACKAGE_ARTIFACT_DIR }}/" -maxdepth 1 -type f -name 'memgraph*' | head -n 1)
          fi
          if [ -z "$file" ]; then
            echo "No package file found." >&2
            exit 1
          fi
          file_name=$(basename "$file")
          echo "Found package: ${file_name}"
          echo "PACKAGE_NAME=${file_name}" >> $GITHUB_ENV

      - name: Determine Package URL
        id: determine_url
        run: |
          PACKAGE_URL="https://s3.${S3_REGION}.amazonaws.com/${S3_BUCKET}/${S3_DEST_DIR}/${ARTIFACT_NAME}/${PACKAGE_NAME}"
          echo "PACKAGE_URL=${PACKAGE_URL}" >> $GITHUB_OUTPUT
          echo "Package URL: ${PACKAGE_URL}"
        env:
          S3_BUCKET: ${{ env.S3_BUCKET }}
          S3_REGION: ${{ env.S3_REGION }}
          S3_DEST_DIR: ${{ env.S3_DEST_DIR }}
          ARTIFACT_NAME: ${{ env.ARTIFACT_NAME }}
          PACKAGE_NAME: ${{ env.PACKAGE_NAME }}

      