name: "Jepsen HA Stress Tests"

on:
  workflow_call:
    inputs:
      name:
        type: string
        description: "Test name"
        required: true
      mt:
        type: boolean
        description: "Run MT test"
        required: true
      mode:
        type: string
        description: "Cluster mode (sync, sync_mixed, strict_sync, strict_sync_mixed)"
        required: true


env:
  ARCH: 'amd'
  BUILD_TYPE: 'RelWithDebInfo'
  MEMGRAPH_ENTERPRISE_LICENSE: ${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}
  MEMGRAPH_ORGANIZATION_NAME: ${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}
  OS: 'debian-12'
  TOOLCHAIN: 'v6'
  NODES_NO: 6

jobs:
  ha-test:
    name: "Run Jepsen HA Tests"
    runs-on: [self-hosted, Linux, X64, DockerMgBuild, JepsenControl]
    timeout-minutes: 720
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set Cluster File
        run: |
            case "${{ inputs.mode }}" in
              sync)
                echo "CLUSTER=sync_cluster.edn" >> $GITHUB_ENV
                ;;
              sync_mixed)
                echo "CLUSTER=sync_mixed_cluster.edn" >> $GITHUB_ENV
                ;;
              strict_sync)
                echo "CLUSTER=strict_sync_cluster.edn" >> $GITHUB_ENV
                ;;
              strict_sync_mixed)
              echo "CLUSTER=strict_sync_mixed_cluster.edn" >> $GITHUB_ENV
              ;;
              *)
                echo "Unsupported mode: ${{ inputs.mode }}"
                exit 1
                ;;
            esac

      - name: Refresh Jepsen Cluster
        run: |
          cd tests/jepsen
          ./run.sh cluster-refresh --nodes-no $NODES_NO

      - name: Spin up mgbuild container
        run: |
          ./release/package/mgbuild.sh --toolchain $TOOLCHAIN --os $OS --arch $ARCH run

      - name: Build release binary
        run: |
          ./release/package/mgbuild.sh --toolchain $TOOLCHAIN --os $OS --arch $ARCH --build-type $BUILD_TYPE build-memgraph

      - name: Copy memgraph binary
        run: |
          ./release/package/mgbuild.sh --toolchain $TOOLCHAIN --os $OS --arch $ARCH copy --binary --dest-dir build

      - name: Copy libmemgraph_module_support.so
        run: |
          ./release/package/mgbuild.sh --toolchain $TOOLCHAIN --os $OS --arch $ARCH copy --libs --dest-dir build/src/query

      - name: Run unit tests for Jepsen code
        run: |
          cd tests/jepsen
          ./run.sh unit-tests --binary ../../build/memgraph

      - name: Run Jepsen workload
        run: |
          cd tests/jepsen

          ./clean_old_directories.sh --nodes-no $NODES_NO > cleanup.log 2>&1 &
          CLEANUP_PID=$!
          trap "kill $CLEANUP_PID" EXIT

          if [[ "${{ inputs.mt }}" == "true" ]]; then
            ARGS="--workload ha-mt --nodes-config resources/${{ env.CLUSTER }} --time-limit 600 --concurrency $NODES_NO --num-tenants 3 --recovery-time 600 --nemesis-start-sleep 480"
          else
            ARGS="--workload hacreate --nodes-config resources/${{ env.CLUSTER }} --time-limit 600 --concurrency $NODES_NO --recovery-time 600 --nemesis-start-sleep 25"
          fi

          ./run.sh test \
            --binary ../../build/memgraph \
            --run-args "$ARGS" \
            --ignore-run-stdout-logs \
            --ignore-run-stderr-logs \
            --nodes-no $NODES_NO \
            --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
            --organization-name $MEMGRAPH_ORGANIZATION_NAME

      - name: Process Jepsen results
        if: always()
        continue-on-error: true
        run: |
          cd tests/jepsen
          ./run.sh process-results

      - name: Save Jepsen report
        if: always()
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: "Jepsen Report-${{ inputs.name }}"
          path: tests/jepsen/Jepsen.tar.gz

      # - name: Refresh Jepsen Cluster
      #   if: always()
      #   continue-on-error: true
      #   run: |
      #     cd tests/jepsen
      #     ./run.sh cluster-refresh --nodes-no $NODES_NO

      - name: Stop mgbuild container
        if: always()
        run: |
          ./release/package/mgbuild.sh --toolchain $TOOLCHAIN --os $OS --arch $ARCH stop --remove
