name: Stress Tests

on:
  workflow_dispatch:
    inputs:
      deployment:
        description: 'Deployment type: standalone/native / ha/native / ha/docker / ha/eks'
        required: true
        type: choice
        options:
          - standalone/native
          - ha/native
          - ha/docker
          - ha/eks
        default: standalone/native
      memgraph_image:
        description: 'MAGE image (URL to .tar.gz or docker tag) - leave empty to build from branch'
        required: false
        type: string
        default: ''
      arch:
        description: 'Architecture (amd/arm)'
        required: true
        type: choice
        options:
          - amd
          - arm
        default: amd

run-name: "Stress Tests (${{ inputs.deployment }} - ${{ inputs.arch }})"

jobs:
  BuildMageImage:
    name: "Build MAGE Image"
    if: ${{ (inputs.deployment == 'ha/docker' || inputs.deployment == 'ha/eks') && inputs.memgraph_image == '' }}
    uses: ./.github/workflows/reusable_package_mage.yaml
    with:
      arch: ${{ inputs.arch }}
      build_type: RelWithDebInfo
      push_to_s3: true
      # NOTE: S3 bucket should have a lifecycle rule on prefix "stress-test/mage/"
      # to expire objects after 3 days to avoid buildup.
      s3_dest_dir: "stress-test/mage/${{ github.run_id }}"
      print_output_url: true
      run_tests: false
      package_deb: "false"
    secrets: inherit

  stress_test_standalone:
    name: "Stress Tests Standalone"
    if: ${{ inputs.deployment == 'standalone/native' }}
    uses: ./.github/workflows/reusable_stress_tests.yaml
    with:
      deployment: ${{ inputs.deployment }}
      arch: ${{ inputs.arch }}
    secrets: inherit

  stress_test_native_ha:
    name: "Stress Tests Native HA"
    if: ${{ inputs.deployment == 'ha/native' }}
    uses: ./.github/workflows/reusable_stress_tests.yaml
    with:
      deployment: ${{ inputs.deployment }}
      arch: ${{ inputs.arch }}
    secrets: inherit

  stress_test_docker_ha:
    name: "Stress Tests Docker HA"
    if: ${{ !cancelled() && inputs.deployment == 'ha/docker' && (inputs.memgraph_image != '' || needs.BuildMageImage.result == 'success') }}
    needs: [BuildMageImage]
    uses: ./.github/workflows/reusable_stress_tests.yaml
    with:
      deployment: ${{ inputs.deployment }}
      memgraph_image: ${{ inputs.memgraph_image != '' && inputs.memgraph_image || needs.BuildMageImage.outputs.s3_package_url }}
      arch: ${{ inputs.arch }}
    secrets: inherit

  stress_test_eks_ha:
    name: "Stress Tests EKS HA"
    if: ${{ !cancelled() && inputs.deployment == 'ha/eks' && (inputs.memgraph_image != '' || needs.BuildMageImage.result == 'success') }}
    needs: [BuildMageImage]
    uses: ./.github/workflows/reusable_stress_tests.yaml
    with:
      deployment: ${{ inputs.deployment }}
      memgraph_image: ${{ inputs.memgraph_image != '' && inputs.memgraph_image || needs.BuildMageImage.outputs.s3_package_url }}
      arch: ${{ inputs.arch }}
    secrets: inherit
