name: "Jepsen HA MT stress test with SYNC replicas"

on:
  workflow_dispatch:
  schedule:
    # Run every other day
    - cron: "0 0 1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31 * *"

env:
  ARCH: 'amd'
  BUILD_TYPE: 'RelWithDebInfo'
  MEMGRAPH_ENTERPRISE_LICENSE: ${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}
  MEMGRAPH_ORGANIZATION_NAME: ${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}
  OS: 'debian-12'
  TOOLCHAIN: 'v6'
  NODES_NO: 6

jobs:
  core:
    name: "Jepsen HA MT stress tests with SYNC replicas"
    runs-on: [self-hosted, Linux, X64, DockerMgBuild, JepsenControl]
    timeout-minutes: 720
    steps:
      - name: Set up repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Refresh Jepsen Cluster
        run: |
          cd tests/jepsen
          ./run.sh cluster-refresh --nodes-no $NODES_NO

      - name: Spin up mgbuild container
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          run

      - name: Build release binary
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          --build-type $BUILD_TYPE \
          build-memgraph

      - name: Copy memgraph binary
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          copy --binary --dest-dir build

      - name: Copy libmemgraph_module_support.so
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          copy --libs --dest-dir build/src/query

      - name: Run unit tests for Jepsen code
        run: |
          cd tests/jepsen
          ./run.sh unit-tests --binary ../../build/memgraph

      - name: Run HA create test with cleaning old directories
        run: |
          cd tests/jepsen

          # Make sure to change --nodes-no at two places
          # Observe logs inside cleanup.log
          ./clean_old_directories.sh --nodes-no $NODES_NO > cleanup.log 2>&1 &
          CLEANUP_PID=$!
          echo "Started cleanup script with PID: $CLEANUP_PID"

          cleanup() {
            echo "Killing cleanup script with PID: $CLEANUP_PID"
            kill $CLEANUP_PID
          }

          trap cleanup EXIT

          ./run.sh test \
          --binary ../../build/memgraph \
          --run-args "--workload ha-mt --nodes-config resources/sync_cluster.edn --time-limit 18000 --concurrency $NODES_NO --num-tenants 5 --recovery-time 600 --nemesis-start-sleep 480" \
          --ignore-run-stdout-logs \
          --ignore-run-stderr-logs \
          --nodes-no $NODES_NO \
          --enterprise-license $MEMGRAPH_ENTERPRISE_LICENSE \
          --organization-name $MEMGRAPH_ORGANIZATION_NAME

      - name: Process Jepsen results
        continue-on-error: true
        if: always()
        run: |
          cd tests/jepsen
          ./run.sh process-results

      - name: Save Jepsen report
        continue-on-error: true
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: "Jepsen Report-${{ inputs.run_id }}"
          path: tests/jepsen/Jepsen.tar.gz

      - name: Stop mgbuild container
        if: always()
        run: |
          ./release/package/mgbuild.sh \
          --toolchain $TOOLCHAIN \
          --os $OS \
          --arch $ARCH \
          stop --remove
