name: "Jepsen HA Stress Tests"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"  # Run daily at midnight

env:
  ARCH: 'amd'
  BUILD_TYPE: 'RelWithDebInfo'
  MEMGRAPH_ENTERPRISE_LICENSE: ${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}
  MEMGRAPH_ORGANIZATION_NAME: ${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}
  OS: 'debian-12'
  TOOLCHAIN: 'v6'
  NODES_NO: 6

jobs:
  determine-sync:
    name: "Determine Sync Mode"
    runs-on: ubuntu-latest
    outputs:
      sync: ${{ steps.set_sync.outputs.sync }}
      name_start: ${{ steps.set_sync.outputs.name_start }}
    steps:
      - name: Determine if test should run in sync mode based on day
        id: set_sync
        run: |
          # Get the current day of the month (leading zeros are stripped)
          DAY=$(date +%d)
          MOD=$((10#$DAY % 2))
          # If the day is odd, set sync to true, otherwise false.
          if [ $MOD -eq 1 ]; then
            echo "sync=true" >> $GITHUB_OUTPUT
            echo "name_start=sync" >> $GITHUB_OUTPUT
          else
            echo "sync=false" >> $GITHUB_OUTPUT
            echo "name_start=mixed" >> $GITHUB_OUTPUT
          fi

  run-jepsen-tests:
    needs: determine-sync
    strategy:
      matrix:
        mt: [true, false]
    uses: ./.github/workflows/reusable_stress_jepsen.yaml
    with:
      name: "${{ needs.determine-sync.outputs.name_start }}${{ matrix.mt && '-mt' || '' }}"
      mt: ${{ matrix.mt }}
      sync: ${{ needs.determine-sync.outputs.sync == 'true' }}
    secrets: inherit