name: Stress Tests

on:
  workflow_dispatch:
    inputs:
      deployment:
        description: 'Deployment type: native_standalone/native_ha/docker_ha'
        required: true
        type: choice
        options:
          - native_standalone
          - native_ha
          - docker_ha
        default: native_standalone
      memgraph_image:
        description: 'Memgraph Docker image (docker image tag or URL to .tar.gz) - required for docker_ha'
        required: true
        type: string
        default: ''
      arch:
        description: 'Architecture (amd/arm)'
        required: true
        type: choice
        options:
          - amd
          - arm
        default: amd

run-name: "Stress Tests (${{ inputs.deployment }} - ${{ inputs.arch }})"

jobs:
  stress_test_native_standalone:
    name: "Stress Tests Native Standalone"
    if: ${{ inputs.deployment == 'native_standalone' }}
    uses: ./.github/workflows/reusable_stress_tests.yaml
    with:
      deployment: ${{ inputs.deployment }}
      memgraph_image: ${{ inputs.memgraph_image }}
      arch: ${{ inputs.arch }}
    secrets: inherit

  stress_test_native_ha:
    name: "Stress Tests Native HA"
    if: ${{ inputs.deployment == 'native_ha' }}
    uses: ./.github/workflows/reusable_stress_tests.yaml
    with:
      deployment: ${{ inputs.deployment }}
      memgraph_image: ${{ inputs.memgraph_image }}
      arch: ${{ inputs.arch }}
    secrets: inherit

  stress_test_docker_ha:
    name: "Stress Tests Docker HA"
    if: ${{ inputs.deployment == 'docker_ha' }}
    uses: ./.github/workflows/reusable_stress_tests.yaml
    with:
      deployment: ${{ inputs.deployment }}
      memgraph_image: ${{ inputs.memgraph_image }}
      arch: ${{ inputs.arch }}
    secrets: inherit
