name: Test workflow
concurrency:
  group: ${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - ".clang-format"
      - "CODEOWNERS"
      - "licenses/*"

env:
  THREADS: 24
  MEMGRAPH_ENTERPRISE_LICENSE: ${{ secrets.MEMGRAPH_ENTERPRISE_LICENSE }}
  MEMGRAPH_ORGANIZATION_NAME: ${{ secrets.MEMGRAPH_ORGANIZATION_NAME }}
  OS: "debian-10"
  TOOLCHAIN_VERSION: "4"

jobs:
  ########################################################################################
  ######################################## BUILDS ########################################
  ########################################################################################
  MgbuilderCommunity:
    if: false
    uses: ./.github/workflows/reusable_build.yaml
    with:
      build_name: community
      threads: 24
      os: debian-10
      toolchain_version: 4
    secrets: inherit

  MgbuilderDebug:
    if: false
    uses: ./.github/workflows/reusable_build.yaml
    with:
      build_name: debug
      threads: 24
      os: debian-10
      toolchain_version: 4
    secrets: inherit

  MgbuilderRelease:
    uses: ./.github/workflows/reusable_build.yaml
    with:
      build_name: release
      threads: 24
      os: debian-10
      toolchain_version: 4
    secrets: inherit

  MgbuilderExperimentalHA:
    if: false
    uses: ./.github/workflows/reusable_build.yaml
    with:
      build_name: experimental_ha
      threads: 24
      os: debian-10
      toolchain_version: 4
    secrets: inherit

  MgbuilderExperimentalMT:
    if: false
    uses: ./.github/workflows/reusable_build.yaml
    with:
      build_name: experimental_mt
      threads: 24
      os: debian-10
      toolchain_version: 4
    secrets: inherit

  ########################################################################################
  ######################################## TESTS #########################################
  ########################################################################################
  StressTestPlain:
    needs: [MgbuilderRelease]
    uses: ./.github/workflows/reusable_test.yaml
    with:
      test_name: stress
      build_name: release
      threads: 24
    secrets: inherit

  StressTestSSL:
    needs: [MgbuilderRelease]
    uses: ./.github/workflows/reusable_test.yaml
    with:
      test_name: stress_ssl
      build_name: release
      threads: 24
    secrets: inherit

  DurabilityTest:
    needs: [MgbuilderRelease]
    uses: ./.github/workflows/reusable_test.yaml
    with:
      test_name: durability
      build_name: release
      threads: 24
    secrets: inherit

  UnitTest:
    needs: [MgbuilderRelease]
    uses: ./.github/workflows/reusable_test.yaml
    with:
      test_name: unit
      build_name: release
      threads: 24
    secrets: inherit

  GQLBehaveTest:
    needs: [MgbuilderRelease]
    uses: ./.github/workflows/reusable_test.yaml
    with:
      test_name: gql_behave
      build_name: release
      threads: 24
    secrets: inherit
