name: Test All Workers

on: [workflow_dispatch]

jobs:
  HP-DL360G6-1:
    name: "HP-DL360G6-1"
    runs-on: [HP-DL360G6-1]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system
  HP-DL360G6-2:
    name: "HP-DL360G6-2"
    runs-on: [HP-DL360G6-2]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system
  HP-DL360G6-3:
    name: "HP-DL360G6-3"
    runs-on: [HP-DL360G6-3]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system

  HP-DL360G6-v2-1:
    name: "HP-DL360G6-v2-1"
    runs-on: [HP-DL360G6-v2-1]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system
  HP-DL360G6-v2-2:
    name: "HP-DL360G6-v2-2"
    runs-on: [HP-DL360G6-v2-2]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system
  HP-DL360G6-v2-3:
    name: "HP-DL360G6-v2-3"
    runs-on: [HP-DL360G6-v2-3]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system
  HP-DL360G6-v2-4:
    name: "HP-DL360G6-v2-4"
    runs-on: [HP-DL360G6-v2-4]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system
  HP-DL360G6-v2-5:
    name: "HP-DL360G6-v2-5"
    runs-on: [HP-DL360G6-v2-5]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system
  HP-DL360G6-v2-6:
    name: "HP-DL360G6-v2-6"
    runs-on: [HP-DL360G6-v2-6]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system
  HP-DL360G6-v2-7:
    name: "HP-DL360G6-v2-7"
    runs-on: [HP-DL360G6-v2-7]
    timeout-minutes: 10
    steps:
      - name: Set up repository
        uses: actions/checkout@v2
      - name: Check the system
        run: |
          ./tools/check-build-system
